<!DOCTYPE html>
<th:block th:fragment="external">
    <script th:src="@{/external/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/external/chart.umd.min.js}"></script>
    <script th:src="@{/external/chartjs-adapter-date-fns.bundle.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js" integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</th:block>

<script th:fragment="tooltips">
    let tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>