<!DOCTYPE html>
<script th:replace="~{components/EULA :: eula}"></script>
<script th:fragment="import-info">
    const screens = [
        `<h2 class="fw-bold">Welcome</h2>
         <p class="mb-3 fs-4">This software allows you to transfer data to Constantine [IN]GRID Polariscope from a source Constantine [IN]GRID or adjacent file.</p>
         <p class="mb-3 fs-4">This tool will allow you to either permanently overwrite existing data in Constantine [IN]GRID Polariscope or create new member entries from the imported data. Please be aware that changes made from this software cannot be reversed unless a backup is restored.</p>
         <p class="mb-3 fs-4">Currently, Constantine [IN]GRID Polariscope only supports importing members listed in RankStar. Other sheets in Constantine [IN]GRID are not currently supported. Please make sure to only submit RankStar.</p>
         <div class="alert alert-warning my-3" role="alert">
            <p class="m-0 fs-4">Exiting this software before the import has started will result in no changes being made to the currently saved data.</p>
         </div>
         <p class="mb-3 fs-4">Please read the following explanation thoroughly before proceeding</p>`,
        `<h2 class="fw-bold">Requirements</h2>
         <p class="mb-3 fs-4">A data transfer requires:</p>
         <ul>
            <li><p class="mb-3 fs-4">A currently running installation of Constantine [IN]GRID Polariscope with at least one user account</p></li>
            <li><p class="mb-3 fs-4">Sufficient storage space on target system for incoming data</p></li>
            <li><p class="mb-3 fs-4">A source Constantine [IN]GRID file</p></li>
         </ul>`,
        `<h2 class="fw-bold">End User License Agreement</h2>
         <p class="mb-3 fs-4">Before entering personal information, please ensure your installation of Constantine [IN]GRID Polariscope is hosted on your own hardware and not a shared server. By entering your information into this tool, you accept ownership and responsibility of the data you enter. Developer(s) of this software will not be liable in the unlikely event of data loss or leakage.</p>
         <p class="mb-3 fs-4">By continuing in this tool, you accept the license agreement</p>
         `,
        `<h2 class="fw-bold">About Merging Information Onto Existing Members</h2>
         <p class="mb-3 fs-4">This tool will allow you to overwrite existing members with members tracked in the incoming Constantine [IN]GRID source file. In order to overwrite the existing data on Constantine [IN]GRID Polariscope, you must manually map these members with each other.</p>
         <p class="mb-3 fs-4">Please give extra care to this step, as it can potentially overwrite and delete evaluations and data on a member. A recovery of this information will require a backup restoration.</p>`,
        `<h2 class="fw-bold">Preparing Constantine [IN]GRID For Import</h2>
         <p class="mb-3 fs-4">This tool requires .CSV files to import members. Constantine [IN]GRID is typically kept in a Microsoft Excel format (.xlsx) which is currently not supported.</p>
         <p class="mb-3 fs-4">In order to continue the import, you must convert the RankStar sheet into its own .csv file before uploading it in this tool. Here are some general steps below:</p>
         <ol>
            <li><p class="mb-3 fs-4">Open source Constantine [IN]GRID file in Microsoft Excel</p></li>
            <li><p class="mb-3 fs-4">Navigate to save as menu</p></li>
            <li><p class="mb-3 fs-4">When choosing a save location, make sure to specify the file format as a .csv file</p></li>
            <li><p class="mb-3 fs-4">Carefully read through the warning popups and proceed to saving a copy as a .csv file</p></li>
            <li><p class="mb-3 fs-4">Save this file in a location that you can locate and readily upload to this tool.</p></li>
         </ol>`,
        `<h2 class="fw-bold">About Transferring Data (1/2)</h2>
         <p class="mb-3 fs-4">The following data will be transferred</p>
         <ul>
            <li><p class="mb-3 fs-4">Member names, sex, birthday and relationship to you</p></li>
            <li><p class="mb-3 fs-4">Personality type, description, and sexuality</p></li>
            <li><p class="mb-3 fs-4">Place met & favorite color</p></li>
            <li><p class="mb-3 fs-4">Notes & Updates</p></li>
            <li><p class="mb-3 fs-4">Weekly cScores</p></li>
         </ul>
         `,
        `<h2 class="fw-bold">About Transferring Data (2/2)</h2>
         <p class="mb-3 fs-4">The following data will not be transferred</p>
         <ul>
            <li><p class="mb-3 fs-4">All data not already inside RankStar sheet</p></li>
            <li><p class="mb-3 fs-4">Constantine Keystone transfer flag</p></li>
            <li><p class="mb-3 fs-4">Logo</p></li>
            <li><p class="mb-3 fs-4">Status</p></li>
            <li><p class="mb-3 fs-4">Table footer statistics</p></li>
         </ul>`,
        `<h2 class="fw-bold">Re-Interpretation of Weekly Evaluations</h2>
         <p class="mb-3 fs-4">Currently, Constantine [IN]GRID tracks cScores in week long periods and notes at any time. Constantine [IN]GRID Polariscope allows you to track evaluations and notes at any point. However, evaluations always require an accompanying cSscore value.</p>
         <p class="mb-3 fs-4">Because of the change in data recording, existing notes and updates will be compiled together as a single note for the week.</p>
         <p class="mb-3 fs-4">Constantine [IN]GRID Polariscope currently offers batch evaluations in place of weekly cScore periods. This allows for greater flexibility and higher accuracy of score.</p>
         <p class="mb-3 fs-4">Evaluations in Constantine [IN]GRID Polariscope are timestamped, meaning multiple evaluations can be given to the same user within the same day.</p>`,
        `<h2 class="fw-bold">Other Notes</h2>
         <ul>
            <li><p class="mb-3 fs-4">It is highly recommended to use either Constantine [IN]GRID or Constantine [IN]GRID Polariscope and not both at the same time. This can result in merging conflicts and inconsistent data</p></li>
            <li><p class="mb-3 fs-4">Application security is important. Make sure to secure endpoint IP addresses using Constantine WebSpy or not port forwarding this application.</p></li>
            <li><p class="mb-3 fs-4">Any unauthorized content or technical modifications to Constantine [IN]GRID may result in data not being transferred correctly.</p></li>
            <li><p class="mb-3 fs-4">Data may be lost if you turn the power off or disable internet communication during the transfer or conversion.</p></li>
         </ul>`,
        `<h2 class="fw-bold text-center mb-5">Information Review</h2>
         <p class="mb-4 fs-4 text-center">If you are sure you have thoroughly read through the information, select <strong>Next</strong></p>
         <p class="mb-4 fs-4 text-center">If you want to look over the details again, select <strong>Previous</strong></p>
         <div class="alert alert-info my-5" role="alert">
            <p class="m-0 fs-4 text-center">Please have Constantine [IN]GRID RankStar ready in a .csv format.</p>
         </div>`,
        `<h2 class="fw-bold text-center mb-5">Upload Constantine [IN]GRID RankStar File</h2>
         <p class="mb-3 fs-4 text-center">Please upload your converted Constantine [IN]GRID file as a .csv into the form below. Then click next.</p>
         <p class="mb-5 fs-4 text-center">If there is an issue with the file, you will be prompted next screen to resolve it.</p>
        <label for="formFileLg" class="form-label">Constantine [IN]GRID source file</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" accept=".csv">`,
        `<h2 class="fw-bold text-center mb-5">Constantine [IN]GRID Interpreter Status</h2>
         <div class="alert alert-secondary my-5 d-flex justify-content-evenly align-items-center" role="alert" id="conversion-status-container" style="margin: 0 20%">
            <p class="m-0 fs-4">Awaiting Conversion</p>
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
         </div>
        <p class="my-5 fs-4 text-center" id="conversion-status-text">Constantine [IN]GRID Polarium is currently receiving and converting the given Constantine [IN]GRID file. During this process, please do not interrupt the internet connection or conversion results may be corrupted. No changes will be made to the given file or database during this process. Please stand by...</p>`,
        `<h2 class="fw-bold mb-2">Conversion Results</h2>
         <p class="mb-5 fs-4">Please review the results of the conversion below and verify the integrity of the data. Please pay social attention to members marked with one or more errors. You will be able to modify and update these values in a future step.</p>
         <div class="row">
            <div class="col">
                <p class="fw-bold text-center mb-0">Total Members</p>
                <p class="fs-4 text-center" id="mem-count"></p>
            </div>
            <div class="col">
                <p class="fw-bold text-center mb-0">Total Errors</p>
                <p class="fs-4 text-center" id="err-count"></p>
            </div>
            <div class="col">
                <p class="fw-bold text-center mb-0">Total cScores</p>
                <p class="fs-4 text-center" id="score-count"></p>
            </div>
         </div>
         <div class="accordion" id="summary-acc"></div>`,
        `<h2 class="fw-bold">Member Consolidation</h2>
         <p class="fs-4">The information on the previous screen displayed the extracted information from the given Constantine [IN]GRID RankStar file.</p>
         <p class="fs-4">You will now be given a queue of extracted members. After updating any potentially outdated or missing information, you will be given the option to either overwrite or create a new entry into your Polariscope member repository.</p>
         <p class="fs-4">Please be careful during the next step, as this will overwrite your currently saved data. The only way to completely revert the changes made on the next screen is to restore a backup.</p>
         <p class="fs-4">Please observe the following cScore graphs of each member to ensure the dates are in order and correct. If you see that there is an issue with them, please make the corrections and restart the import tool.</p>`,
        `<div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold mb-3">Review & Save Members</h2>
            <p id="members-left"></p>
        </div>
         <div class="d-flex flex-row-reverse overflow-x-auto mb-3" id="member-name-container"></div>
         <canvas id="score-canvas" class="mb-3"></canvas>
         <div class="container">
            <div class="row" id="error-list"></div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <label for="first-name-form" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first-name-form">
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="middle-name-form" class="form-label">Middle Name</label>
                    <input type="text" class="form-control" id="middle-name-form">
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="last-name-form" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last-name-form">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="relationf">Relationship Type</label>
                    <select class="form-select" id="relationf" name="relationship"></select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="sexf">Sex</label>
                    <select class="form-select" id="sexf" name="relationship">
                        <option value="">Decline to state</option>

                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="sexualityf">Sexuality</label>
                    <select class="form-select" id="sexualityf" name="sexuality">
                        <option value="">Decline to state</option>

                    </select>
                </div>

                <div class="col-md-4 mb-3">
                <label for="mbp">MB Personality</label>
                    <input type="text" class="form-control" id="mbp" name="personality" placeholder="ENFJ">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="fcf">Favorite Color</label>
                    <input type="text" class="form-control" id="fcf" name="favoriteColor" placeholder="Red">
                </div>

                <div class="col-md-4 mb-3">
                    <label for="bdf">Birthday</label>
                    <input type="date" class="form-control" id="bdf" name="birthday" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="amf">Year Met</label>
                    <input type="number" class="form-control" id="amf" name="ageMet" placeholder="2001" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="psf">Place Met</label>
                    <select class="form-select" id="psf">
                        <option value="">None</option>

                    </select>
                </div>

                <div class="col-12 mb-3">
                    <label for="df">Description</label>
                    <input type="text" class="form-control" id="df" name="description" placeholder="Description of member">
                </div>

                <div class="col-12 mb-3" id="action-menu"></div>
            </div>
         </div>`,
        `<h2 class="fw-bold">Final Review</h2>
         <p class="fs-4">Please review the proposed changes to your member repository. All changes are listed below. Once you have confirmed you are happy with the changes, please select <strong>Next</strong></p>
         <p class="fs-4">If you would like to make changes or adjustments, select <strong>Previous</strong></p>
         <p class="fs-4">Changes made on the following screen are irreversible without a backup restoration. Please make sure you have a strong internet connection.</p>
        `,
        `<h2 class="fw-bold">Transferring Data</h2>
         <marquee direction="right" height="100px" id="status">
         Transferring data to Polariscope. Do not refresh or obstruct internet connection
         </marquee>
         <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
             <div class="import-progress-bar" style="width: 0; transition: width 1s ease;"></div>
         </div>

        `
    ];
</script>