<!DOCTYPE html>
<div th:fragment="navigation" class="position-sticky" style="z-index:99; width:100%;top:0;opacity:95%">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/icons/Logo.svg}" alt="Logo" width="30" class="d-inline-block align-text-top">
                <strong>Polariscope</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/interpersonal">Interpersonal</a>
                    </li>
<!--                    <li class="nav-item dropdown mx-2">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            Dropdown link-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu mx-2">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="vertical" class="position-fixed d-flex flex-column flex-shrink-0 bg-body-tertiary" style="height:100vh; z-index: 99; box-sizing: border-box; top:0;">
    <a href="/interpersonal" class="d-block p-2 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Polariscope">
        <img src="/icons/Logo.svg" alt="Logo" width="45" class="d-inline-block align-text-top">
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="/interpersonal" class="nav-link py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                <img src="/icons/Dashboard.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
        <li>
            <a href="/interpersonal/members" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="All Members">
                <img src="/icons/All.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
        <li class="nav-item">
            <a href="/interpersonal/groups" class="nav-link py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Groups">
                <img src="/icons/Default Group.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
        <li class="nav-item">
            <a href="/interpersonal/batch-evaluate" class="nav-link py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Batch Evaluate">
                <img src="/icons/Batch Evaluate.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
        <li>
            <a href="/interpersonal/compare" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Member Compare">
                <img src="/icons/Compare.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
        <li>
            <a href="/interpersonal/new" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Add Member">
                <img src="/icons/New.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
        <li>
            <a href="/interpersonal/settings" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Settings">
                <img src="/icons/Settings.svg" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
        </li>
    </ul>
    <div class="dropdown border-top">
        <a href="#" class="d-flex align-items-center justify-content-center p-2 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/icons/Default User.svg" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" style="">
            <li><a class="dropdown-item" href="/interpersonal/settings">Settings</a></li>
            <li class="dropdown-item">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <button type="submit" class="btn btn-link p-0 text-1 text-decoration-none">Logout</button>
                </form>
            </li>
        </ul>
    </div>
    <div th:replace="~{components/FakeError :: dark}"></div>
</div>