:root {
    --bs-border-radius: 0 !important;
    --bs-border-radius-sm: 0 !important;
    --bs-border-radius-lg: 0 !important;
    --bs-border-radius-xl: 0 !important;
    --bs-border-radius-xxl: 0 !important;
    --bs-border-radius-2xl: 0 !important;
    --bs-border-radius-pill: 0 !important;
}
.square-image{
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.bevel-lg {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.bevel-sm {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}

.stripe-white{
    background-image: url("/backgrounds/stripe.svg");
    background-size: 5px;
    background-attachment: fixed;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    align-items: stretch;
    justify-items: stretch;
}

.calendar-cell{
    background: red;
    aspect-ratio: 1 / 1;
}