<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: navigation}"></div>
<main class="pt-3">
<div class="container-fluid px-4">

    <nav class="navbar d-flex justify-content-between align-items-center">
        <div>
            <a href="/interpersonal">< Interpersonal Home</a>
        </div>
        <div>
            <div class="input-group">
                <input type="datetime-local" class="form-control" id="bdf" name="evaluation-date">
                <button class="btn btn-primary bevel-sm" type="button" onclick="setDate()">Set Timestamp</button>
            </div>
        </div>
    </nav>

    <div class="row mt-3">
        <div class="col-md-3 col-lg-2 mb-4" id="left-pane">
        </div>
        <div class="col-md-9 col-lg-10 px-3" id="right-pane">
            <h2 class="fw-bold mb-2">Batch Evaluation</h2>
            <canvas id="score-canvas" class="mb-5"></canvas>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h4 class="fw-bold mb-2" id="member-name">Batch Evaluation</h4>
                    <p>Member</p>
                </div>
                <div class="text-center d-md-block">
                    <p class="fw-bold fs-5 mb-0">Relationship</p>
                    <p id="member-relationship"></p>
                </div>
                <div class="text-center d-md-block">
                    <p class="fw-bold fs-5 mb-0">Sex</p>
                    <p id="member-sex"></p>
                </div>
                <div class="text-center">
                    <p class="fw-bold fs-5 mb-0">Date Created</p>
                    <p id="member-date-created"></p>
                </div>
            </div>
            <div class="d-flex flex-row-reverse overflow-x-auto" id="score-container"></div>
            <div class="row">
                <div class="col-md-1">
                    <label for="score-input" class="form-label mt-3">Score</label>
                    <input type="text" class="form-control" id="score-input" placeholder="0" required>
                </div>
                <div class="col-md-11">
                    <label for="note-form-modal" class="form-label mt-3">Note</label>
                    <textarea class="form-control" id="note-form-modal" rows="3"></textarea>
                </div>
            </div>

            <a role="button" class="btn btn-info mt-3" id="info-link">View User Info</a>
            <button type="button" class="btn btn-primary mt-3" onclick="saveEval()" data-bs-dismiss="modal">Save changes</button>
        </div>
    </div>

</div>
</main>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<div th:replace="~{components/Formatting :: time-formatting}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<div th:replace="~{components/Toast :: toast}"></div>
<div th:replace="~{components/Network :: network}"></div>
<script>
    let memberList;
    let evalList;

    let evalChartEval;

    refresh();
    function refresh(){
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        Promise.all([memberListFetch])
            .then(responses => {
                return Promise.all([responses[0]]);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                memberList = data[0];
                renderMemberList(data[0]);
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });

        function renderMemberList(memberData){
            let content = "";
            memberData.forEach((member) => {
                content += `
                <div class="border border-1 d-flex justify-content-center align-items-center p-4 mb-3" role="button" onclick="selectMember('${member.id}')">
                    <h4 class="fw-bold">${member.firstName} ${member.lastName}</h4>
                </div>
                `;
            });
            content += `
            <a class="border border-1 d-flex justify-content-center align-items-center p-4 mb-3" role="button" href="/interpersonal/new">
                <h4 class="fw-bold"> + New Member</h4>
            </a>
            `;
            document.querySelector("#left-pane").innerHTML = content;
        }
    }

    function selectMember(id) {
        const evaluationFetch = fetch("/api/interpersonal/evaluation/all/" + id, {});
        Promise.all([evaluationFetch])
            .then(responses => {
                return Promise.all([responses[0]]);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                evalList = data[0];
                renderEvaluations();
                renderMemberInfo(id);
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });

        function renderEvaluations(){
            let newScores = {data:[]};
            let scoreChartContent = ``;
            evalList.forEach((eval) =>{
                newScores.data.push({x: new Date(eval.timestamp), y: eval.cscore});
                scoreChartContent += `
                <div class="mx-1">
                    <div class="card d-flex justify-content-center" style="width: 5rem; height: 5rem;">
                        <p class="fs-2 fw-bold m-0 text-center">${eval.cscore}</p>
                    </div>
                    <p class="text-center mb-0 mt-1">${formatDate(eval.timestamp)}</p>
                    <p class="text-center mb-0">${formatTimeOnly(eval.timestamp)}</p>
                </div>
                `;
            });

            evalChartEval.data.datasets.pop();
            evalChartEval.data.datasets.push(newScores);
            evalChartEval.update();

            document.querySelector("#score-container").innerHTML = scoreChartContent;
        }

        function renderMemberInfo(id){
            document.querySelector("#info-link").href = "/interpersonal/member/view/" + id;
            let member = getObjectById(memberList, id);
            document.querySelector("#member-name").textContent = member.firstName + " " + member.lastName;
            document.querySelector("#member-relationship").textContent = member.relationship;
            document.querySelector("#member-date-created").textContent = formatDate(member.created);
            document.querySelector("#member-sex").textContent = member.sex;
        }
    }

    createEvalChart();
    function createEvalChart(){
        let canvas = document.querySelector("#score-canvas");
        let scores = {datasets: [{data:[]}]};
        evalChartEval = new Chart(canvas, {
            type: 'line',
            data:scores,
            options: {
                aspectRatio: 5,
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                        }
                    },
                },
            }
        });
    }
</script>
</body>
</html>