<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Import Utility')}"></head>
<style>
    body{
        background-image: url("/backgrounds/stripe.svg");
        background-size: 5px;
    }
</style>
<body data-bs-theme="dark">
<!--<div th:replace="~{components/Navigation :: navigation}"></div>-->
<main class="container bg-body px-0 d-flex flex-column" style="height:100vh">
    <nav class="bg-info-subtle p-4">
        <a href="/interpersonal" class="mt-5 text-info-emphasis">< Back to Interpersonal</a>
        <h1 class="fw-bold mb-0 text-info-emphasis">Constantine [IN]GRID Transfer Tool</h1>
    </nav>
    <div class="p-4 flex-grow-1" id="content-container">

    </div>
    <nav style="bottom: 0; width: 100%" class="p-4 bg-body-tertiary d-flex flex-row align-items-center">
<!--        <button type="submit" class="btn btn-info" onclick="submit()" id="submit-button">Submit</button>-->
        <div class="pe-4">
            <button type="submit" class="btn btn-info" onclick="prevPage()" id="prev-button">Previous</button>
            <button type="submit" class="btn btn-info" onclick="nextPage()" id="next-button">Next</button>
        </div>
        <div class="progress flex-grow-1" role="progressbar" aria-label="Progress bar" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
            <div class="progress-bar" style="width: 0; transition: width 2s ease;" id="progress-bar"></div>
        </div>
    </nav>

</main>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/ImportScreens :: import-info}"></div>
<script>
    let currentPage = 0;
    const checkpoints = [10];

    showPage(currentPage);

    function showPage(index){
        if(index >= screens.length || index < 0){
            return;
        }
        document.querySelector("#progress-bar").style.width = (index / screens.length) * 100 + '%';
        document.querySelector("#content-container").innerHTML = screens[index];
    }

    function nextPage(){
        if(currentPage < screens.length -1){

            currentPage++;

            if(checkPointCheck(currentPage + 1)){
                document.querySelector("#next-button").classList.add("btn-primary");
                document.querySelector("#next-button").classList.remove("btn-info");
            }else{
                document.querySelector("#next-button").classList.remove("btn-primary");
                document.querySelector("#next-button").classList.add("btn-info");


                if(checkPointCheck(currentPage)){
                    document.querySelector("#prev-button").classList.remove("btn-info");
                    document.querySelector("#prev-button").classList.add("disabled");
                }else{
                    document.querySelector("#prev-button").classList.add("btn-info");
                    document.querySelector("#prev-button").classList.remove("disabled");
                }

                if(checkPointCheck(currentPage - 1)){
                    submit();
                }
            }
            showPage(currentPage);
        }
    }

    function prevPage(){
        if(currentPage > 0 && !checkPointCheck(currentPage)){
            currentPage--;
            showPage(currentPage);

            if(checkPointCheck(currentPage)){
                document.querySelector("#prev-button").classList.remove("btn-info");
                document.querySelector("#prev-button").classList.add("btn-disabled");
            }else{
                document.querySelector("#prev-button").classList.add("btn-info");
                document.querySelector("#prev-button").classList.remove("btn-disabled");
            }
        }
    }

    function checkPointCheck(index){
        return checkpoints.some(checkpoint => index === checkpoint);
    }

    function submit(){
        let form = new FormData();
        form.append('file', document.querySelector('#formFileLg').files[0]);
        postDataWithFile("/api/ingrid/upload", form)
    }

</script>
</body>
</html>