<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Import Utility')}"></head>
<style>
    body {
        background-image: url("/backgrounds/stripe.svg");
        background-size: 5px;
    }
</style>
<body data-bs-theme="dark">
<!--<div th:replace="~{components/Navigation :: navigation}"></div>-->
<main class="container bg-body px-0 d-flex flex-column" style="height:100vh">
    <nav class="bg-info-subtle p-4">
        <a href="/interpersonal" class="mt-5 text-info-emphasis">< Back to Interpersonal</a>
        <h1 class="fw-bold mb-0 text-info-emphasis">Constantine [IN]GRID Transfer Tool</h1>
    </nav>
    <div class="p-4 flex-grow-1 overflow-auto" id="content-container">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <h3 class="text-center fw-bold">Please Wait</h3>
    </div>
    <nav style="bottom: 0; width: 100%" class="p-4 bg-body-tertiary d-flex flex-row align-items-center">
        <!--        <button type="submit" class="btn btn-info" onclick="submit()" id="submit-button">Submit</button>-->
        <div class="pe-4">
            <button type="submit" class="btn btn-info" onclick="prevPage()" id="prev-button">Previous</button>
            <button type="submit" class="btn btn-info" onclick="nextPage()" id="next-button">Next</button>
        </div>
        <div class="progress flex-grow-1" role="progressbar" aria-label="Progress bar" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
            <div class="progress-bar" style="width: 0; transition: width 2s ease;" id="progress-bar"></div>
        </div>
    </nav>
</main>

<div class="modal fade" id="save-menu" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Save to Member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="member-index-form" />
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info">
                            <label for="replace-member-form" class="form-label">Merge with existing member</label>
                            <select class="form-select" id="replace-member-form" name="member"></select>
                            <p>Use this field to overwrite evaluation scores and member information onto an existing member in Polariscope. Changes made to members cannot be reversed.</p>
                            <p>To create a new user, select "New Member"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="markMemberToSave()" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/ImportScreens :: import-info}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<script>
    let currentPage = 0;
    const checkpoints = [10, 12, 14];
    let allData;
    let enums;
    let memberList;

    initialize();
    function initialize(){
        const enumFetch = fetch("/api/interpersonal/enums", {});
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        Promise.all([enumFetch, memberListFetch])
            .then(responses => {
                return Promise.all([responses[0], responses[1]]);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json()]);
            })
            .then(data => {
                if(data[0]["status"] != null){
                    document.querySelector("#content-container").innerHTML = `<h3 class="text-center fw-bold mt-2">Fatal Error Starting Import Tool</h3><p class="text-center">${data[0].error}</p>`;
                }else{
                    enums = data[0];
                    memberList = data[1];
                    showPage(currentPage);
                }
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                        document.querySelector("#content-container").innerHTML = `<h3 class="text-center fw-bold mt-2">${errorData.title}</h3><p class="text-center">${errorData.body}</p>`;
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.querySelector("#content-container").innerHTML = `<h3 class="text-center fw-bold mt-2">Fatal Error</h3><p class="text-center">${error}</p>`;
                    });
            });
    }

    function showPage(index) {
        if (index >= screens.length || index < 0) {
            return;
        }
        document.querySelector("#progress-bar").style.width = (index / screens.length) * 100 + '%';
        document.querySelector("#content-container").innerHTML = screens[index];

        if (index === 12) {
            renderSummary();
            document.querySelector("#next-button").classList.add("btn-info");
            document.querySelector("#next-button").classList.remove("disabled");
        }else if(index === 14){
            renderMemberEditor();
            createEvalChart();
        }else if(index === 15){
            renderTransferTables();
        } else if(index === 16){
            beginTransfer();
        }
    }

    function nextPage() {
        if (currentPage < screens.length - 1) {

            currentPage++;

            if (checkPointCheck(currentPage + 1)) {
                document.querySelector("#next-button").classList.add("btn-primary");
                document.querySelector("#next-button").classList.remove("btn-info");
            } else {
                document.querySelector("#next-button").classList.remove("btn-primary");
                document.querySelector("#next-button").classList.add("btn-info");

                if (checkPointCheck(currentPage)) {
                    document.querySelector("#prev-button").classList.remove("btn-info");
                    document.querySelector("#prev-button").classList.add("disabled");

                    document.querySelector("#next-button").classList.remove("btn-info");
                    document.querySelector("#next-button").classList.add("disabled");
                } else {
                    document.querySelector("#prev-button").classList.add("btn-info");
                    document.querySelector("#prev-button").classList.remove("disabled");
                }
            }

            if (currentPage === 11) {
                let form = document.querySelector('#formFileLg').files[0];
                showPage(currentPage);
                submitCSV(form);
            } else {
                showPage(currentPage);
                eventListenerAdder(currentPage);
            }
        }
    }

    function prevPage() {
        if (currentPage > 0 && !checkPointCheck(currentPage)) {
            currentPage--;
            showPage(currentPage);

            if (checkPointCheck(currentPage)) {
                document.querySelector("#prev-button").classList.remove("btn-info");
                document.querySelector("#prev-button").classList.add("disabled");

                eventListenerAdder(currentPage);
            } else {
                document.querySelector("#prev-button").classList.add("btn-info");
                document.querySelector("#prev-button").classList.remove("disabled");
            }
        }
    }

    function checkPointCheck(index) {
        return checkpoints.some(checkpoint => index === checkpoint);
    }

    function submitCSV(f) {
        let form = new FormData();
        form.append('file', f);
        const container = document.querySelector("#conversion-status-container");
        const description = document.querySelector("#conversion-status-text");
        postDataWithFile("/api/ingrid/upload", form)
            .then((r) => {
                return r.json()
            })
            .then((response) => {
                console.log(response);
                document.querySelector("#conversion-status-container").innerHTML = `<h2 class="fw-bold text-center">Valid [IN]GRID</h2>`;
                container.classList.add("alert-success");
                container.classList.remove("alert-secondary");
                description.innerText = "Submitted file is a valid Constantine [IN]GRID file. This can be used for member importing into Constantine [IN]GRID Polariscope. Please proceed by clicking on Next.";
                allData = response;
            })
            .catch((response) => {
                response.json()
                    .then(errorMessage => {
                        console.log(errorMessage);
                        container.classList.add("alert-danger");
                        container.classList.remove("alert-secondary");
                        container.classList.remove("d-flex");
                        container.innerHTML = `
                        <h3 class="text-center fw-bold text-danger-emphasis mb-3">${errorMessage.title}</h3>
                        <p class="text-center">${errorMessage.message}</p>
                        `;
                        description.innerText = `Because of the errors associated with the given file, you must correct the changes before continuing. After reading through the error and making the required changes, press previous and re-upload the file.`;
                        document.querySelector("#next-button").classList.remove("btn-info");
                        document.querySelector("#next-button").classList.add("disabled");
                    })
                    .catch(error => {
                        container.classList.add("alert-danger");
                        container.classList.remove("alert-secondary");
                        container.classList.remove("d-flex");
                        console.log(error);
                        container.innerHTML = `
                        <h3 class="text-center fw-bold text-danger-emphasis mb-4">Error Parsing Document</h3>
                        <p class="text-center">${error}</p>
                        `;
                        description.innerText = `There is an error parsing the given file and an additional error parsing the error message associated with it. Please check the console for more information.`;
                        document.querySelector("#next-button").classList.remove("btn-info");
                        document.querySelector("#next-button").classList.add("disabled");
                    });
            });
    }

    function eventListenerAdder(l) {
        if (l === 10) {
            document.querySelector('#formFileLg').addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file && (file.type === 'text/csv') || (file.type === 'application/vnd.ms-excel')) {
                    document.querySelector("#next-button").classList.add("btn-info");
                    document.querySelector("#next-button").classList.remove("disabled");
                } else {
                    alert('Please select a .csv file.');
                    event.target.value = '';
                }
            });
        }
    }

    function renderSummary() {
        let content = ``, userCount = allData.length, errCount = 0, cScoreCount = 0;
        allData.forEach((member, index) => {
            errCount += member.importErrorList.length;
            cScoreCount += member.member.importedTimeline.length;

            let errorContent = ``;
            member.importErrorList.forEach((error) => {
                errorContent += `
                <div class="alert alert-secondary mb-2" role="alert">
                  <strong>${error.title}</strong> ${error.message}
                </div>
                `;
            });

            let scoreContent = ``;
            member.member.importedTimeline.forEach((score) => {
                scoreContent += `
                <div class="mx-1">
                    <div class="card d-flex justify-content-center" style="width: 5rem; height: 5rem;">
                        <p class="fs-3 fw-bold m-0 text-center">${score.cscore}</p>
                    </div>
                    <p class="text-center mb-0 mt-1">${formatDate(score.timestamp)}</p>
                </div>
                `;
            });

            content += `
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-${index}">
                    <p class="fw-bold mb-0">${member.member.firstName} ${member.member.lastName} ${member.importErrorList.length > 0? ' [Errors: ' + member.importErrorList.length + ']': ''}</p>
                  </button>
                </h2>
                <div id="acc-${index}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                  <div class="d-flex flex-wrap justify-content-evenly">
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Errors</p>
                        <p class="fs-5 text-center">${member.importErrorList.length}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Sex</p>
                        <p class="fs-5 text-center">${member.member.sex}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Sexuality</p>
                        <p class="fs-5 text-center">${member.member.sexuality}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Relationship</p>
                        <p class="fs-5 text-center">${member.member.relationship}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Birthday</p>
                        <p class="fs-5 text-center">${member.member.birthday}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Age Met</p>
                        <p class="fs-5 text-center">${member.member.ageMet}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">Personality</p>
                        <p class="fs-5 text-center">${member.member.personality}</p>
                    </div>
                    <div class="mx-2">
                        <p class="fw-bold text-center mb-0">cScores</p>
                        <p class="fs-5 text-center">${member.member.importedTimeline.length}</p>
                    </div>
                  </div>
                    ${member.member.description}
                    <h5 class="fw-bold mt-3 mb-2">cScore Timeline</h5>
                    <div class="d-flex flex-row-reverse overflow-x-auto mb-3">${scoreContent}</div>
                    ${member.importErrorList.length > 0? '<h5 class="fw-bold mt-3 mb-2">Error List</h5>' : ''}
                    ${errorContent}
                  </div>
                </div>
              </div>
            `;
        });

        document.querySelector("#summary-acc").innerHTML = content;
        document.querySelector("#mem-count").textContent = userCount;
        document.querySelector("#err-count").textContent = errCount;
        document.querySelector("#score-count").textContent = cScoreCount;
    }

    function renderMemberEditor(){
        let membersLeft = 0;

        if(allData.length === 0){
            alert("Completed Queue");
        }

        let relationshipHTML = `<option value="" disabled="disabled">Select Relationship Type</option>`;
        enums.relationship.forEach((relation) => {
            relationshipHTML += `<option value="${relation}">${relation}</option>`;
        });
        document.querySelector("#relationf").innerHTML = relationshipHTML;

        let sexHTML = `<option value="" disabled="disabled">Select Sex</option>`;
        enums.sex.forEach((sex) => {
            sexHTML += `<option value="${sex}">${sex}</option>`;
        });
        document.querySelector("#sexf").innerHTML = sexHTML;

        let sexualityHTML = `<option value="">Select Sexuality</option>`;
        enums.sexuality.forEach((sexuality) => {
            sexualityHTML += `<option value="${sexuality}">${sexuality}</option>`;
        });
        document.querySelector("#sexualityf").innerHTML = sexualityHTML;

        let memberHTML = `<option value="">New Member</option>`;
        memberList.forEach((mem) => {
            memberHTML += `<option value="${mem.id}">Merge into ${mem.firstName} ${mem.lastName}</option>`;
        });
        document.querySelector("#replace-member-form").innerHTML = memberHTML;

        let names = ``;
        allData.forEach((member, index) => {
            let statusStyle = 'alert alert-warning';
            if(member["status"] == null){
                statusStyle = 'alert alert-light';
                membersLeft += 1;
            }else if(member["status"] === 'merge'){
                statusStyle = 'alert alert-success';
            }else if(member["status"] === 'dequeue'){
                statusStyle = 'alert alert-secondary';
            }else if(member["status"] === 'new'){
                statusStyle = 'alert alert-primary';
                membersLeft += 1;
            }


            names += `
            <div class="mx-1 flex-grow-1 mb-3" onclick="memberEditorSelectUser(${index})" role="button">
                <div class="card d-flex justify-content-center px-3 ${statusStyle}" style="height: 4rem;">
                    <p class="fs-5 fw-bold m-0 text-center" style="white-space: nowrap;">${member.member.firstName} ${member.member.lastName}</p>
                </div>
            </div>
            `;
        });

        document.querySelector("#member-name-container").innerHTML = names;
        document.querySelector("#members-left").textContent = "Members Left: " + membersLeft;
        document.querySelector("#replace-member-form").value = "";

        if(membersLeft === 0){
            document.querySelector("#next-button").classList.add("btn-info");
            document.querySelector("#next-button").classList.remove("disabled");
        }
    }

    function memberEditorSelectUser(index){
        let member = allData[index];

        document.querySelector("#replace-member-form").value = (member.id == null ? '' : member.id);
        document.querySelector("#member-index-form").value = index;

        let newScores = {data:[]};
        member.member.importedTimeline.forEach((eval) =>{
            newScores.data.push({x: new Date(eval.timestamp), y: eval.cscore});
        });

        let errorContent = ``;
        member.importErrorList.forEach((error) => {
            errorContent += `
                <div class="col col-lg-6 p-2">
                    <div class="alert alert-secondary" role="alert">
                        <p class="fw-bold mb-1">${error.title}</p>
                        <p>${error.message}</p>
                    </div>
                </div>
                `;
        });

        document.querySelector("#error-list").innerHTML = errorContent;

        evalChartEval.data.datasets.pop();
        evalChartEval.data.datasets.push(newScores);
        evalChartEval.update();

        document.querySelector("#first-name-form").value = member.member.firstName;
        document.querySelector("#last-name-form").value = member.member.lastName;
        document.querySelector("#middle-name-form").value = member.member.middleName;
        document.querySelector("#relationf").value = member.member.relationship;
        document.querySelector("#sexf").value = member.member.sex;
        document.querySelector("#sexualityf").value = member.member.sexuality;
        document.querySelector("#mbp").value = member.member.personality;
        document.querySelector("#fcf").value = member.member.favoriteColor;
        document.querySelector("#amf").value = member.member.ageMet;
        document.querySelector("#bdf").value = (member.member.birthday != null || member.member.birthday === ""  ?  new Date(member.member.birthday).toISOString().slice(0, 10) : '');
        document.querySelector("#df").value = member.member.description;

        document.querySelector("#action-menu").innerHTML = `
            <button type="button" class="btn btn-info mt-3" data-bs-toggle="modal" data-bs-target="#save-menu">Save</button>
            <button type="button" class="btn btn-secondary mt-3" onclick="dequeue(${index})">Don't Import</button>
        `;
    }

    function createEvalChart(){
        let canvas = document.querySelector("#score-canvas");
        let scores = {datasets: [{data:[]}]};
        evalChartEval = new Chart(canvas, {
            type: 'line',
            data:scores,
            options: {
                aspectRatio: 5,
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                        }
                    },
                },
            }
        });
    }

    function dequeue(index){
        allData[index]["status"] = 'dequeue';
        renderMemberEditor();
        memberEditorSelectUser(index);
    }

    function markMemberToSave(){
        let index = document.querySelector("#member-index-form").value;
        let memberId = document.querySelector("#replace-member-form").value;
        let member = allData[index];

        member["id"] = memberId;
        member["status"] = (memberId === '' ? 'new' : 'merge');

        member.member.firstName = document.querySelector("#first-name-form").value ;
        member.member.lastName = document.querySelector("#last-name-form").value;
        member.member.middleName = document.querySelector("#middle-name-form").value;
        member.member.relationship = document.querySelector("#relationf").value ;
        member.member.sex = document.querySelector("#sexf").value;
        member.member.sexuality = document.querySelector("#sexualityf").value;
        member.member.personality = document.querySelector("#mbp").value;
        member.member.favoriteColor = document.querySelector("#fcf").value;
        member.member.ageMet = document.querySelector("#amf").value;
        member.member.birthday = document.querySelector("#bdf").value;
        member.member.description = document.querySelector("#df").value;

        renderMemberEditor();
        memberEditorSelectUser(index);

        console.log(member);
    }

    function beginTransfer(){
        transferMember();
    }

    function transferMember(){
        if(allData.length === 0){
            console.log("complete.")
            return;
        }
        let member = allData[0];

        if('status' in member && member.status !== null && member.status !== "dequeue"){
            let convertedMember = {
                id: (member.member.id ? member.member.id : null),
                ageMet: member.member.ageMet,
                birthday: member.member.birthday,
                created: member.member.created,
                description: member.member.description,
                favoriteColor: member.member.favoriteColor,
                firstName: member.member.firstName,
                lastModified: new Date(),
                lastName: member.member.lastName,
                middleName: member.member.middleName,
                personality: member.member.personality,

                relationship: member.member.relationship,
                sex: member.member.sex,
                sexuality: member.member.sexuality,
                timeline: member.member.importedTimeline
            };
            console.log(convertedMember);

            postData("/api/ingrid/save", convertedMember)
                .then((r) => {
                    console.log(r);
                    allData.shift();
                    transferMember()
                })
        }
    }

    function renderTransferTables(){
        let newTable = document.querySelector("#new-member-table");
        let mergeTable = document.querySelector("#merge-member-table");

        let newTableContent = ``;
        let mergeTableContent = ``;

        allData.forEach((mem) => {
            if(mem.status === 'new'){
                newTableContent += `<tr><th>${mem.member.firstName} ${mem.member.lastName}</th></tr>`;
            }else if(mem.status === 'merge'){
                let polMember = memberList.find(m => m.id === mem.id);
                console.log(polMember);
                mergeTableContent += `
                <tr>
                    <th>${mem.member.firstName} ${mem.member.lastName}</th>
                    <th>${polMember.firstName} ${polMember.lastName}</th>
                </tr>
                `;
            }
        });

        newTable.innerHTML = newTableContent;
        mergeTable.innerHTML = mergeTableContent;
    }
</script>
</body>
</html>