<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Import Utility')}"></head>
<style>
    body{
        background-image: url("/backgrounds/stripe.svg");
        background-size: 5px;
    }
</style>
<body data-bs-theme="dark">
<!--<div th:replace="~{components/Navigation :: navigation}"></div>-->
<main class="container bg-body px-0 d-flex flex-column" style="height:100vh">
    <nav class="bg-info-subtle p-4">
        <a href="/interpersonal" class="mt-5 text-info-emphasis">< Back to Interpersonal</a>
        <h1 class="fw-bold mb-0 text-info-emphasis">Constantine [IN]GRID Transfer Tool</h1>
    </nav>
    <div class="p-4 flex-grow-1 overflow-auto" id="content-container">

    </div>
    <nav style="bottom: 0; width: 100%" class="p-4 bg-body-tertiary d-flex flex-row align-items-center">
<!--        <button type="submit" class="btn btn-info" onclick="submit()" id="submit-button">Submit</button>-->
        <div class="pe-4">
            <button type="submit" class="btn btn-info" onclick="prevPage()" id="prev-button">Previous</button>
            <button type="submit" class="btn btn-info" onclick="nextPage()" id="next-button">Next</button>
        </div>
        <div class="progress flex-grow-1" role="progressbar" aria-label="Progress bar" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
            <div class="progress-bar" style="width: 0; transition: width 2s ease;" id="progress-bar"></div>
        </div>
    </nav>

</main>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/ImportScreens :: import-info}"></div>
<script>
    let currentPage = 0;
    const checkpoints = [10, 12];
    let allData;

    showPage(currentPage);

    function showPage(index){
        if(index >= screens.length || index < 0){
            return;
        }
        document.querySelector("#progress-bar").style.width = (index / screens.length) * 100 + '%';
        document.querySelector("#content-container").innerHTML = screens[index];

        if(index === 12){
            renderSummary();
        }
    }

    function nextPage(){
        if(currentPage < screens.length -1){

            currentPage++;

            if(checkPointCheck(currentPage + 1)){
                document.querySelector("#next-button").classList.add("btn-primary");
                document.querySelector("#next-button").classList.remove("btn-info");
            }else{
                document.querySelector("#next-button").classList.remove("btn-primary");
                document.querySelector("#next-button").classList.add("btn-info");

                if(checkPointCheck(currentPage)){
                    document.querySelector("#prev-button").classList.remove("btn-info");
                    document.querySelector("#prev-button").classList.add("disabled");

                    document.querySelector("#next-button").classList.remove("btn-info");
                    document.querySelector("#next-button").classList.add("disabled");
                }else{
                    document.querySelector("#prev-button").classList.add("btn-info");
                    document.querySelector("#prev-button").classList.remove("disabled");
                }
            }

            if(currentPage === 11){
                let form = document.querySelector('#formFileLg').files[0];
                showPage(currentPage);
                submitCSV(form);
            }else{
                showPage(currentPage);
                eventListenerAdder(currentPage);
            }
        }
    }

    function prevPage(){
        if(currentPage > 0 && !checkPointCheck(currentPage)){
            currentPage--;
            showPage(currentPage);

            if(checkPointCheck(currentPage)){
                document.querySelector("#prev-button").classList.remove("btn-info");
                document.querySelector("#prev-button").classList.add("disabled");

                eventListenerAdder(currentPage);
            }else{
                document.querySelector("#prev-button").classList.add("btn-info");
                document.querySelector("#prev-button").classList.remove("disabled");
            }
        }
    }

    function checkPointCheck(index){
        return checkpoints.some(checkpoint => index === checkpoint);
    }

    function submitCSV(f){
        let form = new FormData();
        form.append('file', f);
        const container = document.querySelector("#conversion-status-container");
        const description = document.querySelector("#conversion-status-text");
        postDataWithFile("/api/ingrid/upload", form)
            .then((r) => {return r.json()})
            .then((response) => {
                console.log(response);
                document.querySelector("#conversion-status-container").innerHTML = `<h2 class="fw-bold text-center">Valid [IN]GRID</h2>`;
                container.classList.add("alert-success");
                container.classList.remove("alert-secondary");
                description.innerText = "Submitted file is a valid Constantine [IN]GRID file. This can be used for member importing into Constantine [IN]GRID Polariscope. Please proceed by clicking on Next.";
                allData = response;
            })
            .catch((response) => {
                response.json()
                    .then(errorMessage => {
                        console.log(errorMessage);
                        container.classList.add("alert-danger");
                        container.classList.remove("alert-secondary");
                        container.classList.remove("d-flex");
                        container.innerHTML = `
                        <h3 class="text-center fw-bold text-danger-emphasis mb-3">${errorMessage.title}</h3>
                        <p class="text-center">${errorMessage.message}</p>
                        `;
                        description.innerText = `Because of the errors associated with the given file, you must correct the changes before continuing. After reading through the error and making the required changes, press previous and re-upload the file.`;
                        document.querySelector("#next-button").classList.remove("btn-info");
                        document.querySelector("#next-button").classList.add("disabled");
                    })
                    .catch(error => {
                        container.classList.add("alert-danger");
                        container.classList.remove("alert-secondary");
                        container.classList.remove("d-flex");
                        console.log(error);
                        container.innerHTML = `
                        <h3 class="text-center fw-bold text-danger-emphasis mb-4">Error Parsing Document</h3>
                        <p class="text-center">${error}</p>
                        `;
                        description.innerText = `There is an error parsing the given file and an additional error parsing the error message associated with it. Please check the console for more information.`;
                        document.querySelector("#next-button").classList.remove("btn-info");
                        document.querySelector("#next-button").classList.add("disabled");
                    });
            });
    }

    function eventListenerAdder(l){
        if(l === 10){
            document.querySelector('#formFileLg').addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file && (file.type === 'text/csv') || (file.type === 'application/vnd.ms-excel')) {
                    document.querySelector("#next-button").classList.add("btn-info");
                    document.querySelector("#next-button").classList.remove("disabled");
                } else {
                    alert('Please select a .csv file.');
                    event.target.value = '';
                }
            });
        }
    }

    function renderSummary(){
        let content = ``, userCount = allData.length, errCount = 0, cScoreCount = 0;
        allData.forEach((member, index) => {
            errCount += member.importErrorList.length;
            cScoreCount += member.member.importedTimeline.length;
            content += `
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-${index}">
                    <p class="fw-bold">${member.member.firstName} ${member.member.lastName}</p>
                  </button>
                </h2>
                <div id="acc-${index}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    ${member.member.description}
                  </div>
                </div>
              </div>
            `;
        });

        document.querySelector("#summary-acc").innerHTML = content;
        document.querySelector("#mem-count").textContent = userCount;
        document.querySelector("#err-count").textContent = errCount;
        document.querySelector("#score-count").textContent = cScoreCount;
    }
</script>
</body>
</html>