<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="stripe-white" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>

<main style="margin-left: 60px">
    <div class="container">
        <h1 class="fw-bold mb-4 mt-2">Interpersonal Relationships Dashboard</h1>
        <div class="row">
            <div class="col-lg-8 p-2">
                <div class="row" id="member-chips"></div>
                <div class="bg-body-tertiary p-3">
                    <h3 class="fw-bold">Least Recently Evaluated</h3>
                    <div class="d-flex flex-row overflow-x-auto mb-3" id="least-recent-eval-container"></div>
                </div>
                <div class="bg-body-tertiary p-3 mt-3">
                    <h3 class="fw-bold">Highest Evaluated Members</h3>
                    <div class="d-flex flex-row overflow-x-auto mb-3" id="highest-eval-container"></div>
                </div>
                <div class="bg-body-tertiary p-3 mt-3">
                    <h3 class="fw-bold">Lowest Evaluated Members</h3>
                    <div class="d-flex flex-row overflow-x-auto mb-3" id="lowest-eval-container"></div>
                </div>
            </div>
            <div class="col-lg-4 p-2 d-none d-md-block">
                <div class="bg-body-tertiary p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fw-bold" id="activity-widget-title">Activity</h3>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" onclick="resetCalendar()" class="btn btn-dark p-1"><img class="square-image" src="/icons/Refresh.svg" alt="refresh" style="width: 28px;"></button>
                            <button type="button" class="btn btn-dark" onclick="prevMonth()"><</button>
                            <button type="button" class="btn btn-dark" onclick="nextMonth()">></button>
                        </div>
                    </div>
                    <div class="row mt-3 mx-1">
                        <div class="col text-center fw-bold">S</div>
                        <div class="col text-center fw-bold">M</div>
                        <div class="col text-center fw-bold">T</div>
                        <div class="col text-center fw-bold">W</div>
                        <div class="col text-center fw-bold">T</div>
                        <div class="col text-center fw-bold">F</div>
                        <div class="col text-center fw-bold">S</div>
                    </div>
                    <div class="calendar" id="calendar-widget-content">
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                        <div class="calendar-cell"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<div th:replace="~{components/Gradient :: gradient-2}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<div th:replace="~{components/Formatting :: time-interval}"></div>
<script>
    let memberList;
    let userInfo;
    let activityList;

    let activityDate = new Date();

    refresh();

    function refresh(){
        // const day = new Date();

        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        const accountFetch = fetch("/api/account/info/current", {});
        // const activityFetch = fetch("/api/account/activity/after/" +
        //     day.getFullYear() + "-" +
        //     String(day.getMonth() + 1).padStart(2, '0') + "-01");
        const activityFetch = fetch('/api/account/activity/all')

        Promise.all([memberListFetch, accountFetch, activityFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json(), data[2].json()]);
            })
            .then(data => {
                memberList = data[0];
                userInfo = data[1];
                activityList = data[2];
                renderQuickStats();
                renderLeastRecentEval();
                renderHighestEval();
                renderLowestEval();
                renderCalendarWidget();
            })
            .then(() => {

            });
    }

    function getMonthName(date) {
        return date.toLocaleString('default', { month: 'long' });
    }

    function resetCalendar(){
        activityDate = new Date();
        renderCalendarWidget();
    }

    function nextMonth(){
        activityDate.setMonth(activityDate.getMonth() + 1);
        renderCalendarWidget();
    }

    function prevMonth(){
        activityDate.setMonth(activityDate.getMonth() - 1);
        renderCalendarWidget();
    }

    function renderCalendarWidget(){
        let today = activityDate;
        document.querySelector("#activity-widget-title").innerText = getMonthName(today) + " " + today.getFullYear()

        const firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
        const dayOfWeek = firstDayOfMonth.getDay();
        const lastDayOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);
        const lastDay = lastDayOfMonth.getDate();

        const container = document.querySelector("#calendar-widget-content");
        container.innerHTML = "";

        for (let i = 0; i < dayOfWeek; i++) {
            let cell = document.createElement('div');
            container.appendChild(cell);
        }

        const heatmapData = new Array(lastDay).fill(0);
        activityList.forEach(activity => {
            const createdDate = new Date(activity.created);

            if (createdDate.getMonth() === today.getMonth() && createdDate.getFullYear() === today.getFullYear()) {
                const day = createdDate.getDate();
                heatmapData[day - 1]++;
            }
        });

        for(let i = 0; i < lastDay; i++){
            let cell = document.createElement('div');

            if(today.getDate() === i+1){
                cell.classList.add('fw-bold');
            }

            cell.textContent = i + 1 + '';
            cell.style.backgroundColor = greyToGreenGradient(0, 10, heatmapData[i]);
            cell.classList.add('calendar-cell');
            container.appendChild(cell);
        }
    }

    function renderQuickStats(){
        document.querySelector("#member-chips").innerHTML = `
            <div class="col-12 col-lg-4">
                <div class="mx-2 alert alert-secondary">
                    <h6 class="text-center fw-bold">Member Count</h6>
                    <p class="text-center fs-3 mb-0">${memberList.length}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="mx-2 alert alert-secondary">
                    <h6 class="text-center fw-bold">Activity Score</h6>
                    <p class="text-center fs-3 mb-0">${activityList.length}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="mx-2 alert alert-secondary">
                    <h6 class="text-center fw-bold">Account Age</h6>
                    <p class="text-center fs-3 mb-0">${timeSince(userInfo.created)}</p>
                </div>
            </div>
            `;
    }

    function renderLeastRecentEval(){
        const container = document.querySelector("#least-recent-eval-container");
        let LREContent = ``;

        // Order the member list
        memberList.sort((a, b) => new Date(a.lastEvaluation.timestamp) - new Date(b.lastEvaluation.timestamp));

        for(let i = 0; i < memberList.length && i < 10; i++){
            const member = memberList[i];
            let relationshipSrc = "/icons/Unknown.svg", sexSrc = "/icons/Unknown.svg", sexualitySrc = "/icons/Unknown.svg";
            if(member.relationship.length > 0){
                relationshipSrc = "/icons/relations/" + member.relationship + ".svg";
            }
            if(member.sex.length > 0){
                sexSrc = "/icons/sex/" + member.sex + ".svg";
            }
            if(member.sexuality.length > 0){
                sexualitySrc = "/icons/sexuality/" + member.sexuality + ".svg";
            }

            LREContent += `
                <a class="mx-2 mb-3 text-decoration-none" href="/interpersonal/member/view/${member.id}">
                    <div class="card d-flex justify-content-center" style="width: 10rem">
                        <img class="card-img-top square-image" alt="profile image" src="/api/interpersonal/member/profile-image/${member.id}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-nowrap text-truncate">${member.firstName} ${member.lastName}</h5>
                            <p class="text-center">${formatDate(member.lastEvaluation.timestamp)} • ${member.lastEvaluation.cscore}</p>
                        </div>
                        <div class="d-flex justify-content-evenly align-items-center mb-3">
                            <img class="square-image mx-1" src="${relationshipSrc}" alt="relationship icon" />
                            <img class="square-image mx-1" src="${sexSrc}" alt="Sex icon" />
                            <img class="square-image mx-1" src="${sexualitySrc}" alt="Sexuality icon" />
                        </div>
                    </div>
                </a>
            `;
        }
        container.innerHTML = LREContent;
    }

    function renderHighestEval(){
        const container = document.querySelector("#highest-eval-container");
        let LREContent = ``;

        // Sort array
        memberList.sort((a, b) => new Date(b.lastEvaluation.cscore) - new Date(a.lastEvaluation.cscore));

        for(let i = 0; i < memberList.length && i < 10; i++){
            const member = memberList[i];
            let relationshipSrc = "/icons/Unknown.svg", sexSrc = "/icons/Unknown.svg", sexualitySrc = "/icons/Unknown.svg";
            if(member.relationship.length > 0){
                relationshipSrc = "/icons/relations/" + member.relationship + ".svg";
            }
            if(member.sex.length > 0){
                sexSrc = "/icons/sex/" + member.sex + ".svg";
            }
            if(member.sexuality.length > 0){
                sexualitySrc = "/icons/sexuality/" + member.sexuality + ".svg";
            }

            LREContent += `
                <a class="mx-2 mb-3 text-decoration-none" href="/interpersonal/member/view/${member.id}">
                    <div class="card d-flex justify-content-center" style="width: 10rem">
                        <img class="card-img-top square-image" alt="profile image" src="/api/interpersonal/member/profile-image/${member.id}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-nowrap text-truncate">${member.firstName} ${member.lastName}</h5>
                             <p class="">${formatDate(member.lastEvaluation.timestamp)} • ${member.lastEvaluation.cscore}</p>
                        </div>
                        <div class="d-flex justify-content-evenly align-items-center mb-3">
                            <img class="square-image mx-1" src="${relationshipSrc}" alt="relationship icon" />
                            <img class="square-image mx-1" src="${sexSrc}" alt="Sex icon" />
                            <img class="square-image mx-1" src="${sexualitySrc}" alt="Sexuality icon" />
                        </div>
                    </div>
                </a>
            `;
        }
        container.innerHTML = LREContent;
    }

    function renderLowestEval(){
        const container = document.querySelector("#lowest-eval-container");
        let LREContent = ``;

        // Sort array
        memberList.sort((a, b) => new Date(a.lastEvaluation.cscore) - new Date(b.lastEvaluation.cscore));

        for(let i = 0; i < memberList.length && i < 15; i++){
            const member = memberList[i];
            let relationshipSrc = "/icons/Unknown.svg", sexSrc = "/icons/Unknown.svg", sexualitySrc = "/icons/Unknown.svg";
            if(member.relationship.length > 0){
                relationshipSrc = "/icons/relations/" + member.relationship + ".svg";
            }
            if(member.sex.length > 0){
                sexSrc = "/icons/sex/" + member.sex + ".svg";
            }
            if(member.sexuality.length > 0){
                sexualitySrc = "/icons/sexuality/" + member.sexuality + ".svg";
            }

            LREContent += `
                <a class="mx-2 mb-3 text-decoration-none" href="/interpersonal/member/view/${member.id}">
                    <div class="card d-flex justify-content-center" style="width: 10rem">
                        <img class="card-img-top square-image" alt="profile image" src="/api/interpersonal/member/profile-image/${member.id}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-nowrap text-truncate">${member.firstName} ${member.lastName}</h5>
                             <p class="">${formatDate(member.lastEvaluation.timestamp)} • ${member.lastEvaluation.cscore}</p>
                        </div>
                        <div class="d-flex justify-content-evenly align-items-center mb-3">
                            <img class="square-image mx-1" src="${relationshipSrc}" alt="relationship icon" />
                            <img class="square-image mx-1" src="${sexSrc}" alt="Sex icon" />
                            <img class="square-image mx-1" src="${sexualitySrc}" alt="Sexuality icon" />
                        </div>
                    </div>
                </a>
            `;
        }
        container.innerHTML = LREContent;
    }
</script>
</body>
</html>