<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<!--<div th:replace="~{components/Navigation :: navigation}"></div>-->
<main class="container bg-body bevel-lg">
    <div class="row h-100">
        <div class="col-lg-2 col-12 bg-body-tertiary h-lg-100 py-4">
            <ul class="nav nav-pills flex-column nav-fill" id="pills-tab" role="tablist">
                <a class="d-flex justify-content-center align-items-center navbar-brand mb-4" href="/">
                    <img th:src="@{/icons/Logo.svg}" alt="Logo" width="30" class="d-inline-block align-text-top">
                    <p class="fw-bold mb-1 fs-4 ms-2">Polariscope</p>
                </a>
                <li class="nav-item mb-3" role="presentation">
                    <button class="nav-link bevel-sm active" id="pills-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-overview" type="button">Overview</button>
                </li>
                <li class="nav-item mb-3" role="presentation">
                    <button class="nav-link bevel-sm" id="pills-members-tab" data-bs-toggle="pill" data-bs-target="#pills-members" type="button">Members</button>
                </li>
                <li class="nav-item mb-3" role="presentation">
                    <button class="nav-link bevel-sm" id="pills-compare-tab" data-bs-toggle="pill" data-bs-target="#pills-compare" type="button">Compare</button>
                </li>
                <li class="nav-item mb-3" role="presentation">
                    <button class="nav-link bevel-sm" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button">Settings</button>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-12 py-4">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" tabindex="0">
                    <h2 class="fw-bold mb-4">Interpersonal Relationships</h2>
                </div>
                <div class="tab-pane fade" id="pills-members" role="tabpanel" tabindex="0">
                    <div class="d-flex flex-nowrap mb-4">
                        <h2 class="fw-bold">Interpersonal Members</h2>
                        <a href="/interpersonal/members">All Members ></a>
                    </div>
                    <h3 class="fw-bold">Least Recently Evaluated</h3>
                    <div class="d-flex flex-row-reverse overflow-x-auto mb-3" id="least-recent-eval-container"></div>
                    <h3 class="fw-bold">Highest Evaluation</h3>
                    <h3 class="fw-bold">Lowest Evaluation</h3>
                </div>
                <div class="tab-pane fade" id="pills-compare" role="tabpanel" tabindex="0">...</div>
                <div class="tab-pane fade" id="pills-settings" role="tabpanel" tabindex="0">
                    <h2 class="fw-bold mb-4">Settings</h2>
                    <div class="row">
                        <a class="col-md-6 col-lg-4 mb-4 px-3" href="/interpersonal/batch-evaluate">
                            <div class="bg-light-subtle d-flex justify-content-center align-items-center py-4 bevel-lg" role="button">
                                <p class="fs-4 fs-bold text-center m-0">Batch Evaluate</p>
                            </div>
                        </a>
                        <a class="col-md-6 col-lg-4 mb-4 px-3" href="/interpersonal/members">
                            <div class="bg-light-subtle d-flex justify-content-center align-items-center py-4 bevel-lg" role="button">
                                <p class="fs-4 fs-bold text-center m-0">All Members</p>
                            </div>
                        </a>
                        <a class="col-md-6 col-lg-4 mb-4 px-3" href="/interpersonal/new">
                            <div class="bg-light-subtle d-flex justify-content-center align-items-center py-4 bevel-lg" role="button">
                                <p class="fs-4 fs-bold text-center m-0">+ Add Member</p>
                            </div>
                        </a>
                        <a class="col-md-6 col-lg-4 mb-4 px-3" href="/interpersonal/import">
                            <div class="bg-light-subtle d-flex justify-content-center align-items-center py-4 bevel-lg" role="button">
                                <p class="fs-4 fs-bold text-center m-0">Import Members</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    body{
        background-image: url("/backgrounds/stripe.svg");
        background-size: 5px;
    }
    @media (min-width: 991.98px) {
        main{
            height: 100vh
        }
    }
</style>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<script>
    let memberList;

    refresh();

    function refresh(){
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        Promise.all([memberListFetch])
            .then(responses => {
                return Promise.all([responses[0]]);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                memberList = data[0];
                renderLeastRecentEval();
            })
            .then(() => {

            });
    }

    function renderLeastRecentEval(){
        const container = document.querySelector("#least-recent-eval-container");
        let LREContent = ``;
        for(let i = 0; i < 15; i++){
            const member = memberList[i];
            let relationshipSrc = "/icons/Unknown.svg", sexSrc = "/icons/Unknown.svg", sexualitySrc = "/icons/Unknown.svg";
            if(member.relationship.length > 0){
                relationshipSrc = "/icons/relations/" + member.relationship + ".svg";
            }
            if(member.sex.length > 0){
                sexSrc = "/icons/sex/" + member.sex + ".svg";
            }
            if(member.sexuality.length > 0){
                sexualitySrc = "/icons/sexuality/" + member.sexuality + ".svg";
            }

            //todo: the fix to this is float left!
            LREContent += `
                <a class="mx-2 mb-3 text-decoration-none" href="/interpersonal/member/view/${member.id}">
                    <div class="card d-flex justify-content-center" style="width: 10rem">
                        <img class="card-img-top square-image" alt="profile image" src="/api/interpersonal/member/profile-image/${member.id}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-nowrap text-truncate">${member.firstName} ${member.lastName}</h5>
                        </div>
                        <div class="d-flex justify-content-evenly align-items-center mb-3">
                            <img class="square-image mx-1" src="${relationshipSrc}" alt="relationship icon" />
                            <img class="square-image mx-1" src="${sexSrc}" alt="Sex icon" />
                            <img class="square-image mx-1" src="${sexualitySrc}" alt="Sexuality icon" />
                        </div>
                    </div>
                </a>
            `;
        }
        container.innerHTML = LREContent;
    }
</script>
</body>
</html>