<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: navigation}"></div>
<main class="container-fluid px-4 pt-2">
    <nav class="navbar d-flex justify-content-between align-items-center">
        <div>
            <a href="/interpersonal">< Interpersonal Home</a>
        </div>
        <div>
            <h2 class="fw-bold text-center">All Members</h2>
        </div>
        <div></div>
    </nav>
    <div class="row mt-3">
        <div class="col-md-3 col-lg-2 mb-4" id="left-pane">
            <p class="fs-4 fw-bold text-center mb-4">Member Composition</p>
            <canvas id="composition-canvas"></canvas>
<!--            <p class="fs-4 fw-bold text-center mb-4">Member Composition</p>-->
        </div>
        <div class="col-md-9 col-lg-10 px-3" id="right-pane">
            <div class="container-fluid table-responsive">
                <nav class="navbar d-flex justify-content-start align-items-center">
                    <div class="bg-light-subtle d-flex justify-content-center align-items-center p-2 me-2" role="button" onclick="refresh()">
                        <img class="square-image" th:src="@{/icons/Refresh.svg}" alt="refresh" style="width: 30px;"/>
                    </div>
                    <div class="bg-light-subtle d-flex justify-content-between align-items-center p-2" role="button" data-bs-toggle="modal" data-bs-target="#filterModal">
                        <p class="mb-0 mx-2 fs-5 fw-bold">Filter</p>
                        <img class="square-image" th:src="@{/icons/Filter.svg}" alt="edit" style="width: 30px;"/>
                    </div>
                </nav>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Relationship</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Sexuality</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="fmt" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fmt">Filter Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="fn-form-g" class="form-label">Filter by First Name</label>
                        <div class="input-group mb-3" id="fn-form-g">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="fn-checkbox-filter-modal" aria-label="Filter by first name">
                            </div>
                            <input type="text" class="form-control" aria-label="first name" id="fn-form">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="ln-form-g" class="form-label">Filter by Last Name</label>
                        <div class="input-group mb-3" id="ln-form-g">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="ln-checkbox-filter-modal" aria-label="Filter by last name">
                            </div>
                            <input type="text" class="form-control" aria-label="first name" id="ln-form">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="relationship-form-group" class="form-label">Filter by Relationship Type</label>
                        <div class="input-group mb-3" id="relationship-form-group">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="relationship-checkbox-filter-modal" aria-label="Enable filtering by relationship">
                            </div>
                            <select class="form-select" name="relationship" id="relationship-form">
                                <th:block th:each="relationshipType : ${relationshipTypes}">
                                    <option th:value="${relationshipType}" th:text="${relationshipType.toString().toLowerCase()}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="sex-form-group" class="form-label">Filter by Sex</label>
                        <div class="input-group mb-3" id="sex-form-group">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="sex-checkbox-filter-modal" aria-label="Enable filtering by sex">
                            </div>
                            <select class="form-select" name="relationship" id="sex-form">
                                <th:block th:each="SexType : ${sexTypes}">
                                    <option th:value="${SexType}" th:text="${SexType.toString().toLowerCase()}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="sexuality-form-group" class="form-label">Filter by Sexuality</label>
                        <div class="input-group mb-3" id="sexuality-form-group">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="sexuality-checkbox-filter-modal" aria-label="Enable filtering by sexuality">
                            </div>
                            <select class="form-select" name="relationship" id="sexuality-form">
                                <th:block th:each="sexualityType : ${sexualityTypes}">
                                    <option th:value="${sexualityType}" th:text="${sexualityType.toString().toLowerCase()}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="renderEvaluationTable()" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/External :: external}"></div>
<script>
    let allMembers, memberCompositionChart;
    refresh();
    setupGraph();
    function refresh(){
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        Promise.all([memberListFetch])
            .then(responses => {
                return Promise.all([responses[0]]);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                allMembers = data[0];
                renderTable();
                renderStats();
                updateGraph();
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            })
    }
    function renderTable(){
        let tableContents = '';
        allMembers.forEach((member) => {
            tableContents += `
                    <tr>
                        <th scope="row">1</th>
                        <td>${member.firstName} ${member.lastName}</td>
                        <td>${member.relationship}</td>
                        <td>${member.sex}</td>
                        <td>${member.sexuality}</td>
                        <td><a href="/interpersonal/member/view/${member.id}">View Member ></a></td>
                    </tr>
                    `;
        });
        document.querySelector("#table-body").innerHTML = tableContents;
    }

    function renderStats(){

    }

    function updateGraph(){
        const tally = allMembers.reduce((acc, obj) => {
            const type = obj.relationship;
            if (acc[type]) {
                acc[type]++;
            } else {
                acc[type] = 1;
            }
            return acc;
        }, {});

        const labels = Object.keys(tally);
        const values = Object.values(tally);

        let data = {
            datasets: [{
                data:values
            }],
            labels:labels
        };

        memberCompositionChart.data = data;
        memberCompositionChart.update();
    }

    function setupGraph(){
        let canvas = document.querySelector("#composition-canvas");
        let data = {
            datasets: [{
                data:[]
            }],
            labels:[]
        };
        memberCompositionChart = new Chart(canvas, {
            type: 'doughnut',
            data:data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    }
</script>
</body>
</html>