<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: navigation}"></div>
<main class="pt-3">
<div class="container-fluid px-4">

    <nav class="navbar d-flex justify-content-between align-items-center">
        <div>
            <a href="/interpersonal">< Interpersonal Home</a>
        </div>
        <div>
            <div class="input-group">
                <select class="form-select" id="member-select">
                </select>
                <button class="btn btn-primary" type="button" onclick="changeUser()">Change</button>
            </div>
        </div>
    </nav>

    <div class="row mt-3">
        <div class="col-md-3 col-lg-2 mb-4" id="left-pane">
            <img class="square-image" th:src="@{/icons/Logo.svg}" alt="profile image" />
            <h2 class="fw-bold text-center mt-3" id="member-name">Test Name</h2>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <img class="square-image mx-2" th:src="@{/icons/Logo.svg}" id="relation-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Relationship"/>
                <img class="square-image mx-2" th:src="@{/icons/Logo.svg}" id="sex-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Sex"/>
                <img class="square-image mx-2" th:src="@{/icons/Logo.svg}" id="orientation-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Sexuality"/>
            </div>
            <div class="mt-4 bg-light-subtle d-flex justify-content-center align-items-center py-4" role="button">
                <p class="fs-4 fs-bold text-center m-0">+ Add Evaluation</p>
            </div>
        </div>
        <div class="col-md-9 col-lg-10 px-3" id="right-pane">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</button>
                    <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="false">Information</button>
                    <button class="nav-link" id="nav-evaluation-tab" data-bs-toggle="tab" data-bs-target="#nav-evaluation" type="button" role="tab" aria-controls="nav-evaluation" aria-selected="false">Evaluations</button>
                    <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings" aria-selected="false">Settings</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab" tabindex="0">Home</div>
                <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab" tabindex="0">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="fw-bold mt-3">Member Information</h2>
                        <div class="bg-light-subtle d-flex justify-content-between align-items-center p-2" role="button">
                            <p class="mb-0 mx-2 fs-5 fw-bold">Edit</p>
                            <img class="square-image" th:src="@{/icons/Edit.svg}" alt="edit" style="width: 30px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3 px-2 mb-2">
                            <div class="p-4 bg-secondary-subtle h-100" id="info-relationship">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8 col-xl-6 px-2 mb-2">
                            <div class="p-4 bg-secondary-subtle h-100" id="info-description">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 px-2 mb-2">
                            <div class="p-4 bg-secondary-subtle h-100" id="info-general">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-evaluation" role="tabpanel" aria-labelledby="nav-evaluation-tab" tabindex="0">
                    <h2 class="fw-bold mt-3">Evaluation Records</h2>
                    <div>
                        <canvas id="evaluation-history-chart"></canvas>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="fw-bold mt-3">All Evaluations</h2>
                        <div class="bg-light-subtle d-flex justify-content-between align-items-center p-2" role="button">
                            <p class="mb-0 mx-2 fs-5 fw-bold">Filter</p>
                            <img class="square-image" th:src="@{/icons/Filter.svg}" alt="edit" style="width: 30px;"/>
                        </div>
                        <div id="eval-table-container"></div>
                    </div>

                </div>
                <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab" tabindex="0">Settings</div>
            </div>
        </div>
    </div>
</div>
</main>
<input type="hidden" th:value="${id}" id="id-form" />
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<script>
    let memberList;
    let memberDetails;

    refresh();

    function refresh(){
        let memberId = document.querySelector("#id-form").value;
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        const memberDetailFetch = fetch("/api/interpersonal/member/view/" + memberId, {});
        Promise.all([memberListFetch, memberDetailFetch])
            .then(responses => {
                return Promise.all([responses[0], responses[1]]);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json()]);
            })
            .then(data => {
                memberList = data[0];
                memberDetails = data[1];
                renderMemberSelect(data[0]);
                renderBadges();
                document.querySelector("#member-name").textContent = memberDetails.firstName + " " + memberDetails.lastName;
                renderInfoTab();
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            })
    }

    function renderInfoTab(){
        document.querySelector("#info-relationship").innerHTML = `
        <h3 class="fw-bold text-center">Relationship</h3>
        <p>Type: ${memberDetails.relationship}</p>
        <p>Year met: ${memberDetails.ageMet}</p>
        <p>Place met: ${memberDetails.placeMet}</p>
        `;

        document.querySelector("#info-description").innerHTML = `
        <h3 class="fw-bold">Description</h3>
        <p>${memberDetails.description}</p>
        `;

        document.querySelector("#info-general").innerHTML = `
        <h3 class="fw-bold text-center">General</h3>
        <p>Birthday: ${formatDate(memberDetails.birthday)}</p>
        <p>Favorite color: ${memberDetails.favoriteColor}</p>
        <p>Sexuality: ${memberDetails.sexuality}</p>
        <p>Personality: ${memberDetails.personality}</p>
        `;
    }

    function renderMemberSelect(members){
        let HTMLContent = ``;
        members.forEach((member) => {
            HTMLContent += `
                <option value="${member.id}">${member.firstName} ${member.lastName}</option>
            `;
        });
        document.querySelector("#member-select").innerHTML = HTMLContent;
    }

    function renderBadges(){
        let relationshipIcon = document.querySelector("#relation-icon");
        if(memberDetails.relationship.length > 0){
            relationshipIcon.src = "/icons/relations/" + memberDetails.relationship + ".svg";
        }else{
            relationshipIcon.src = "/icons/Unknown.svg";
        }

        let sexIcon = document.querySelector("#sex-icon");
        if(memberDetails.sex.length > 0){
            sexIcon.src = "/icons/sex/" + memberDetails.sex + ".svg";
        }else{
            sexIcon.src = "/icons/Unknown.svg";
        }

        let sexualityIcon = document.querySelector("#orientation-icon");
        if(memberDetails.sex.length > 0){
            sexualityIcon.src = "/icons/sexuality/" + memberDetails.sexuality + ".svg";
        }else{
            sexualityIcon.src = "/icons/Unknown.svg";
        }
    }

    function changeUser(){
        document.querySelector("#id-form").value = document.querySelector("#member-select").value;
        refresh();
    }
</script>
</body>
</html>