<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>
<main class="bg-body px-0 d-flex flex-column" style="height:100vh;margin-left:60px;">
    <nav class="p-4" id="header-container">
        <div class="row mb-2">
            <div class="col-md-10 d-flex flex-row align-items-center justify-content-start">
                <img class="square-image me-2" style="height: 80px; width: 80px" alt="group image" th:src="@{/icons/Default Group.svg}" id="group-image">
                <h1 class="fw-bold" id="group-name">Name</h1>
            </div>
            <div class="col-md-2 mb-2 d-flex flex-column align-items-start justify-content-center">
                <label for="group-form">Select Group</label>
                <div class="input-group">
                    <select class="form-select" id="group-form"></select>
                    <button class="btn btn-primary bevel-sm" type="button" onclick="changeGroup()">Change</button>
                </div>
            </div>
        </div>
        <p class="fs-5 mb-2" id="group-description">Description</p>
        <p id="last-modified" class="mb-0"></p>
    </nav>
    <div class="p-4 flex-grow-1 overflow-auto" id="main-content">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <h3 class="text-center fw-bold">Please Wait</h3>
    </div>
</main>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/Toast :: toast}"></div>
<div th:replace="~{components/Formatting :: timestamp-formatting}"></div>
<script>
    let enums;

    refresh();
    function refresh(){
        const enumFetch = fetch("/api/interpersonal/enums", {});
        Promise.all([enumFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                enums = data[0];
                renderDropdown();
                if(enums.groups.length > 0){
                    renderHeader(0);
                    renderBody(enums.groups[0].id);
                }else{
                    document.querySelector("#main-content").innerHTML = "<h2 class='text-center fw-bold mt-2'>No groups to display</h2><p class='text-center'>Create one in settings</p>"
                }
            })
            .catch((response) => {
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }

    function renderHeader(index){
        document.querySelector("#header-container").style.background = `linear-gradient(to top right, rgb(${enums.groups[index].color.red}, ${enums.groups[index].color.green}, ${enums.groups[index].color.blue},.5), rgb(${enums.groups[index].color.red}, ${enums.groups[index].color.green}, ${enums.groups[index].color.blue},.05))`;
        document.querySelector("#group-description").textContent = enums.groups[index].description;
        document.querySelector("#group-name").textContent = enums.groups[index].name;
        document.querySelector("#group-image").src = `/api/interpersonal/group/image/${enums.groups[index].id}`;
        document.querySelector("#last-modified").innerText = "Members: " + enums.groups[index].numMembers + " - Last modified: " + formatTimestamp(enums.groups[index].lastModified);
    }

    function renderDropdown(){
        let content = ``;

        enums.groups.forEach((group, index) => {
            content += `<option value="${index}">${group.name}</option>`;
        });

        document.querySelector("#group-form").innerHTML = content;
    }

    function changeGroup(){
        const index = document.querySelector("#group-form").value;
        renderHeader(index);
        renderBody(enums.groups[index].id);
    }

    function renderBody(id){
        const enumFetch = fetch("/api/interpersonal/member/group/" + id, {});
        Promise.all([enumFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                let content = `
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <h3 class="fw-bold">Members</h3>
                    </div>
                    <div class="col-md-6 d-flex flex-row align-content-center justify-content-end">
                        <!-- controls to be added here -->
                    </div>
                </div>
                <div class="row">
                `;

                data[0].forEach((member) => {
                    content += `
                        <a class="col-6 col-md-3 col-lg-2 p-2 d-flex flex-column" href="/interpersonal/member/view/${member.id}">
                            <img class="square-image w-100 p-3" alt="Member image" src="/api/interpersonal/member/profile-image/${member.id}">
                            <p class="text-center text-white fs-4 fw-bold text-nowrap text-truncate">${member.firstName + ' ' + member.lastName}</p>
                        </a>
                    `;
                })

                content += `</div>`;
                document.querySelector("#main-content").innerHTML = content;
            })
            .catch((response) => {
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }
</script>
</body>
</html>