<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Analysis')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>
<main class="bg-2 d-flex flex-column flex-fill" style="margin-left: 60px; height: 100vh;">
    <nav class="container-fluid pt-2 border-bottom" style="background: linear-gradient(#222, #2c2c2c);">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="col-md-10 d-flex flex-row align-items-center justify-content-start">
                <img class="square-image me-2" style="height: 40px; width: 40px" alt="Analysis image" th:src="@{/icons/Reports.svg}">
                <h1 class="fw-bold">Polariscope Analysis</h1>
            </div>
            <div class="spinner-border d-none" role="status" id="loading-spinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <img src="/icons/Error.svg" id="error-icon" alt="error" class="square-image d-none" height="32px" width="32px" />
        </div>
        <div class="mb-0 pb-0 d-flex justify-content-between align-items-end">
            <ul class="nav nav-underline" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-3 p-0" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-3 p-0" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="false">Details</button>
                </li>
<!--                <li class="nav-item" role="presentation">-->
<!--                    <button class="nav-link fs-3 p-0" id="custom-tab" data-bs-toggle="tab" data-bs-target="#custom-tab-pane" type="button" role="tab" aria-controls="custom-tab-pane" aria-selected="false">Custom</button>-->
<!--                </li>-->
            </ul>
            <div class="d-flex flex-row align-content-center justify-content-end pb-2 gap-3">
<!--                <div class="mb-2 bg-light-subtle d-flex justify-content-center align-items-center p-2" role="button" onclick="refresh()">-->
<!--                    <img class="square-image" src="/icons/Plus.svg" alt="New Report" style="width: 20px;">-->
<!--                </div>-->
                <div class="mb-2 bg-light-subtle d-flex justify-content-center align-items-center p-2" role="button" onclick="refresh()">
                    <img class="square-image" src="/icons/Refresh.svg" alt="Refresh" style="width: 20px;">
                </div>
            </div>
        </div>
    </nav>
    <div class="tab-content container-fluid flex-grow-1 overflow-hidden d-flex flex-column">
        <div class="tab-pane fade show active p-2 overflow-y-auto" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
            <div class="pb-2 flex-grow-1 d-flex overflow-x-scroll flex-row gap-3 align-items-center justify-content-start" id="report-selectors"></div>
            <div class="row mb-2 gx-2 align-items-stretch" id="overview-chip-container"></div>

            <h3 class="fw-bold border-bottom mb-2">Average Evaluation Scores</h3>
            <canvas id="evaluation-history-chart-overview"></canvas>

            <h3 class="fw-bold border-bottom mb-2">Quarterly Volatility</h3>
            <canvas id="volatility-history-chart-overview"></canvas>

            <!-- Statistics Table -->
            <h2 class="fw-bold border-bottom mb-2">Quarterly Reports</h2>
            <div id="overview-stats-table" class="table-responsive"></div>
        </div>
        <div class="tab-pane fade h-100" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
            <div class="row h-100">
                <div class="col-md-8 col-12 p-2 overflow-y-auto h-100">
                    <div class="d-flex flex-md-row flex-column align-items-center gap-2 mb-2" id="details-header"></div>
                    <div class="row mb-2 gx-2" id="detail-chip-container"></div>
                    <h3 class="fw-bold border-bottom mb-2">Events Occurred</h3>
                    <div class="" id="detail-event-table"></div>
                    <h3 class="fw-bold border-bottom mb-2">Member Statistics</h3>
                    <div class="" id="detail-member-table"></div>
                </div>
                <div class="col-md-4 d-none d-md-block border-start p-2">
                    <h3 class="fw-bold border-bottom mb-2">Report Statistics</h3>
                    <div class="container-fluid mb-4" id="detail-stats-container"></div>

                    <h3 class="fw-bold border-bottom mb-2">Timeline</h3>
                    <div class="container-fluid mb-4" id="detail-timeline-container"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="custom-tab-pane" role="tabpanel" aria-labelledby="custom-tab" tabindex="0">...</div>
    </div>
</main>

<div class="modal fade" id="saveEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="saveEventModalTitle">Save Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="event-label-form" class="form-label">Label</label>
                        <input type="text" class="form-control" id="event-label-form" required>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="event-date-form" class="form-label">Date</label>
                        <input type="datetime-local" class="form-control" id="event-date-form">
                    </div>
                    <div class="col-12">
                        <label for="event-description-form" class="form-label">Description</label>
                        <textarea class="form-control" id="event-description-form" rows="3"></textarea>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="event-color-preview" class="form-label">Color</label>
                        <div class="container" style="height:40px" id="event-color-preview"></div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label class="input-group-text" for="event-red-form">Red</label>
                            <input type="number" class="form-control" id="event-red-form">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label class="input-group-text" for="event-green-form">Green</label>
                            <input type="number" class="form-control" id="event-green-form">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label class="input-group-text" for="event-blue-form">Blue</label>
                            <input type="number" class="form-control" id="event-blue-form">
                        </div>
                    </div>
                    <input type="hidden" id="event-id-form" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="modalSaveEvent()" data-bs-dismiss="modal">Save Event</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<div th:replace="~{components/Formatting :: timestamp-formatting}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Gradient :: gradient}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/Toast :: toast}"></div>
<div th:replace="~{components/External :: tooltips}"></div>

<script>
    let quarterlyReports = [];
    let selectedReport = null;
    let selectedReportIndex = -1;
    let eventList = [];

    let quarterlyAverageChart;
    let volatilityChart;

    refresh();
    initializeCharts();

    function refresh() {
        let spinner = document.querySelector("#loading-spinner");
        let errorIcon = document.querySelector("#error-icon");
        spinner.classList.add("d-block");
        spinner.classList.remove("d-none");

        const quarterlyFetch = fetch("/api/interpersonal/reports/quarterly", {});
        const eventFetch = fetch('/api/interpersonal/event/all')

        Promise.all([quarterlyFetch, eventFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json()]);
            })
            .then(data => {
                console.log(data);

                if (data[0]) {
                    quarterlyReports = data[0];
                }

                eventList = data[1];
                renderOverviewTab();
                renderDetailsTab();
            })
            .catch((response) => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            })
            .finally(() => {
                spinner.classList.remove("d-block");
                spinner.classList.add("d-none");
            });
    }

    function renderOverviewTab(){
        renderOverviewTable();
        renderOverviewStats();
        renderEvaluationScoreGraph();
    }

    function renderDetailsTab(){
        renderOverviewHeader();
        renderDetailChips();
        renderEventTable();
        renderMemberTable();
        renderReportStatistics();
        renderReportTimeline();
    }

    // Helper functions
    function renderEvaluationScoreGraph(){
        let scoreData = { data: [] };
        let volData = { data: [] };

        if (quarterlyReports.length === 0) {
            return;
        }

        // Update chart data
        quarterlyReports.forEach((quarter) => {
            scoreData.data.push({ x: quarter.endDate, y: quarter.overallScoreAverage });
            volData.data.push({ x: quarter.endDate, y: quarter.overallScoreSD });
        });

        // Update datasets
        quarterlyAverageChart.data.datasets.pop();
        quarterlyAverageChart.data.datasets.push(scoreData);

        volatilityChart.data.datasets.pop();
        volatilityChart.data.datasets.push(volData);

        // Update both charts
        quarterlyAverageChart.update();
        volatilityChart.update();
    }

    function renderReportTimeline(){
        if(quarterlyReports.length <= 2) {
            return;
        }

        let timelineContent = `
            <div class="w-100 position-relative">
                <div class="bg-primary position-absolute" style="height: 10px; width: ${100 * (1 / quarterlyReports.length)}%; margin-left: ${ 100 * (selectedReportIndex / quarterlyReports.length)}%"></div>
            </div>
            <div class="bg-light-subtle w-100 mt-4" style="height: 10px;"></div>
            <div class="w-100 position-relative">
                <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(0%, 0%); left: 0">${formatDate(quarterlyReports[0].startDate + "PST")}</p>
                <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-100%, 0%); left: 100%">${formatDate(quarterlyReports[quarterlyReports.length - 1].endDate + "PST")}</p>
            </div>
        `;

        document.querySelector("#detail-timeline-container").innerHTML = timelineContent;
    }

    function renderReportStatistics(){
        let statContent = `
            <div class="row">
                <div class="col-6">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Activity Score</p>
                        <p>${selectedReport.activityScore}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Added Activity Score</p>
                        <p>${selectedReport.newActivityScore}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Events Added</p>
                        <p>${selectedReport.events}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Total Members</p>
                        <p>${selectedReport.memberCount}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Added Members</p>
                        <p>${selectedReport.newMemberCount}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Connection Average</p>
                        <p>${selectedReport.overallConnectionAverage === "NaN"? "N/A" : selectedReport.overallConnectionAverage.toFixed(3)}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Connection Count</p>
                        <p>${selectedReport.overallConnectionCount}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Connection SD</p>
                        <p>${selectedReport.overallConnectionSD === "NaN"? "N/A" : selectedReport.overallConnectionSD.toFixed(3)}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Score Average</p>
                        <p>${selectedReport.overallScoreAverage === "NaN"? "N/A" : selectedReport.overallScoreAverage.toFixed(3)}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Score Count</p>
                        <p>${selectedReport.overallScoreCount}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Score SD</p>
                        <p>${selectedReport.overallScoreSD === "NaN"? "N/A" : selectedReport.overallScoreSD.toFixed(3)}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <p class="fw-bold">Score Total</p>
                        <p>${selectedReport.overallScoreTotal}</p>
                    </div>
                </div>
            </div>
        `;

        document.querySelector("#detail-stats-container").innerHTML = statContent;
    }

    function renderMemberTable(){
        let tableHTML = `
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">X̄ Eval</th>
                    <th scope="col">σ Eval</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Eval Slope</th>
                    <th scope="col"># Evals</th>
                    <th scope="col">∑ Evals</th>
                    <th scope="col">Events</th>
                    <th scope="col"># Net</th>
                    <th scope="col"># In Net</th>
                    <th scope="col">X̄ In Net</th>
                    <th scope="col">σ In Net</th>
                    <th scope="col"># Out Net</th>
                    <th scope="col">X̄ Out Net</th>
                    <th scope="col">σ Out Net</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
        `;

        selectedReport.memberReports.sort((a, b) => b.scoreCount - a.scoreCount).forEach(memberReport => {
            // Regression Slope
            let arrow = "";
            if(memberReport.scoreSlope !== "NaN"){
                let angle = Math.atan(memberReport.scoreSlope) * (180 / Math.PI);
                let arrowRotation = -90 - angle;
                arrow = `<img style="height: 20px; width:20px; transform:rotate(${arrowRotation}deg)" src="/icons/Arrow.svg"/>`;
            }


            tableHTML += `
            <tr>
                <th scope="row"><img class="square-image" style="height: 40px; width: 40px" alt="profile image" src="/api/interpersonal/member/profile-image/${memberReport.id}"></th>
                <th style="vertical-align: middle" scope="col">${memberReport.firstName + " " + memberReport.lastName}</th>
                <td style="vertical-align: middle; color: ${getColorGradient(memberReport.scoreAverage !== 'NaN'? memberReport.scoreAverage : 0, -100, 100)}" class="text-nowrap">${memberReport.scoreAverage === "NaN"? "N/A" : memberReport.scoreAverage.toFixed(1)}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.scoreSD === "NaN"? "N/A" : memberReport.scoreSD.toFixed(1)}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.startScore !== null? memberReport.startScore.cscore : "N/A"}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.endScore !== null? memberReport.endScore.cscore : "N/A"}</td>
                <td style="vertical-align: middle; color: ${getColorGradient(memberReport.scoreSlope !== 'NaN'? memberReport.scoreSlope : 0, -0.6, 0.6)}">
                    ${memberReport.scoreSlope === "NaN"? "N/A" : memberReport.scoreSlope.toFixed(1)}
                    ${arrow}
                </td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.scoreCount}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.scoreTotal}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.eventsIncluded}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.connectionsCount}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.incomingConnectionsCount}</td>
                <td style="vertical-align: middle; color: ${getColorGradient(memberReport.incomingConnectionsAverage !== 'NaN'? memberReport.incomingConnectionsAverage : 0, -100, 100)}" class="text-nowrap">${memberReport.incomingConnectionsAverage === "NaN"? "N/A" : memberReport.incomingConnectionsAverage.toFixed(1)}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.incomingConnectionsSD === "NaN"? "N/A" : memberReport.incomingConnectionsSD.toFixed(1)}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.outgoingConnectionsCount}</td>
                <td style="vertical-align: middle; color: ${getColorGradient(memberReport.outgoingConnectionsAverage !== 'NaN'? memberReport.outgoingConnectionsAverage : 0, -100, 100)}" class="text-nowrap">${memberReport.outgoingConnectionsAverage === "NaN"? "N/A" : memberReport.outgoingConnectionsAverage.toFixed(1)}</td>
                <td style="vertical-align: middle" class="text-nowrap">${memberReport.outgoingConnectionsSD === "NaN"? "N/A" : memberReport.outgoingConnectionsSD.toFixed(1)}</td>
                <td style="vertical-align: middle"><a target="_blanks" href="/interpersonal/member/view/${memberReport.id}"><button class="btn btn-secondary" data-bs-toggle="modal">View</button></a></td>
            </tr>`;
        });

        tableHTML += `</tbody></table>`;
        document.querySelector("#detail-member-table").innerHTML = tableHTML;
    }

    function renderDetailChips(){
        if(quarterlyReports.length < 2){
            return;
        }

        // Get min, max, and median of report standard deviations
        let standardDeviations = quarterlyReports.map(report => report.overallScoreSD).filter(sd => typeof sd === "number");
        standardDeviations.sort((a,b) => a - b);

        let minSd = standardDeviations[0];
        let maxSd = standardDeviations[standardDeviations.length - 1];

        let midSd = Math.floor(standardDeviations.length / 2);
        let medianSd = standardDeviations.length % 2 === 0? (standardDeviations[midSd - 1] + standardDeviations[midSd])/2 : standardDeviations[midSd];

        let hasSd = true;
        if(selectedReport.overallScoreSD === "NaN"){
            hasSd = false;
        }

        // get min, max, and median of report activity scores
        let activityScores = quarterlyReports.map(report => report.newActivityScore);
        activityScores.sort((a,b) => a - b);
        let minAs = activityScores[0];
        let maxAs = activityScores[activityScores.length - 1];

        let midAs = Math.floor(activityScores.length / 2);
        let medianAs = activityScores.length % 2 === 0? (activityScores[midAs - 1] + activityScores[midAs]) / 2 : activityScores[midAs];

        // get min, max, and median of evaluation averages
        let evaluations = quarterlyReports.map(report => report.overallScoreAverage).filter(ev => typeof ev === "number");
        evaluations.sort((a,b) => a - b);
        let minEv = evaluations[0];
        let maxEv = evaluations[evaluations.length - 1];

        let midEv = Math.floor(evaluations.length / 2);
        let medianEv = evaluations.length % 2 === 0? (evaluations[midEv - 1] + evaluations[midEv]) / 2 : evaluations[midEv];

        let hasEv = typeof selectedReport.overallScoreAverage === "number";

        // get min, max, and median of num of events
        let events = quarterlyReports.map(report => report.events);
        events.sort((a,b) => a - b);
        let minEs = events[0];
        let maxEs = events[events.length - 1];

        let midEs = Math.floor(events.length / 2);
        let medianEs = events.length % 2 === 0? (events[midEs - 1] + events[midEs]) / 2 : events[midEs];

        let detailChipHTML = `
            <div class="col-12 col-lg-8">
                <div class="alert alert-secondary">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Score Mean SD</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${hasSd? selectedReport.overallScoreSD.toFixed(3) : "N/A"}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${hasSd? ((selectedReport.overallScoreSD - minSd)/(maxSd - minSd)) * 100 : 0}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 0">${minSd.toFixed(1)}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">x̃: ${medianSd.toFixed(1)}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 100%">${maxSd.toFixed(1)}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="alert alert-secondary">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Activity Score</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${selectedReport.newActivityScore}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${((selectedReport.newActivityScore - minAs)/(maxAs - minAs)) * 100}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 0">${minAs.toFixed(1)}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">x̃: ${medianAs.toFixed(1)}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 100%">${maxAs.toFixed(1)}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="alert alert-secondary">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Events Added</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${selectedReport.events}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${((selectedReport.events - minEs)/(maxEs - minEs)) * 100}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 0">${minEs}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">x̃: ${medianEs}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 100%">${maxEs}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="alert alert-secondary">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Mean Evaluation</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${hasEv? selectedReport.overallScoreAverage.toFixed(3) : "N/A"}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${((selectedReport.overallScoreAverage - minEv)/ (maxEv - minEv)) * 100}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 0">${minEv.toFixed(1)}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">x̃: ${medianEv.toFixed(1)}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 100%">${maxEv.toFixed(1)}</p>
                    </div>
                </div>
            </div>`;

        document.querySelector("#detail-chip-container").innerHTML = detailChipHTML;
    }

    function renderEventTable(){
        // filter out all events that are not under this report
        let reportEventList = eventList.filter(event => (new Date(event.date) > new Date(selectedReport.startDate + "PST")) && (new Date(event.date) < new Date(selectedReport.endDate + "PST")));


        let tableContent = `
         <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Color</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
        `;
        reportEventList.forEach(event => {
            tableContent += `
                <tr>
                    <th scope="row" style="vertical-align: middle">${event.label}</th>
                    <td style="vertical-align: middle"><div class="square-image" style="height: 30px; background-color: rgb(${event.color.red}, ${event.color.green}, ${event.color.blue})"></div></td>
                    <td style="vertical-align: middle">${formatTimestamp(new Date(event.date))}</td>
                    <td style="vertical-align: middle">${event.description}</td>
                    <td style="vertical-align: middle"><button class="btn btn-secondary" onclick="updateEventModal('${event.id}')" data-bs-toggle="modal" data-bs-target="#saveEventModal">Edit</button></td>
                    <td style="vertical-align: middle"><button class="btn btn-danger bevel-sm" onclick="deleteEvent('${event.id}')">Delete</button></td>

                </tr>
            `;
        });

        tableContent += "</tbody></table>";

        if(reportEventList.length === 0){
            tableContent += "<p class='w-100 text-center'>No Events</p>";
        }

        document.querySelector("#detail-event-table").innerHTML = tableContent;
    }

    function renderOverviewHeader(){
        // Select first report by default
        let headerContent = "";
        if(quarterlyReports.length > 0){
            if(selectedReport == null){
                selectedReport = quarterlyReports[quarterlyReports.length - 1];
                selectedReportIndex = quarterlyReports.length - 1;
            }

            let reportList = "";

            quarterlyReports.forEach((report, index) => {
                reportList += `<option value="${index}">${formatDate(report.startDate + "PST")} - ${formatDate(report.endDate + "PST")}</option>`
            });

            headerContent = `
                <h3 class="mb-0 me-auto text-nowrap text-md-start text-center w-100 fw-bold">${formatDate(selectedReport.startDate + "PST")} - ${formatDate(selectedReport.endDate + "PST")}</h3>
                <div class="d-flex justify-content-end align-items-center gap-2">
                    <select class="form-select w-auto" id="report-selector">
                        <option selected>Select Report</option>
                        ${reportList}
                    </select>
                    <button type="button" class="btn btn-secondary" onclick="decrementIndex(); renderDetailsTab()"><</button>
                    <button type="button" class="btn btn-secondary" onclick="incrementIndex(); renderDetailsTab()">></button>
                </div>

            `;
        }
        document.getElementById("details-header").innerHTML = headerContent;

        const selectElement = document.getElementById("report-selector");
        selectElement.addEventListener("change", function () {
            selectedReport = quarterlyReports[this.value];
            selectedReportIndex = this.value;
            renderDetailsTab();
        });
    }

    function renderOverviewStats(){
        if(quarterlyReports.length < 2){
            return;
        }

        let scoreTotal = 0, sdTotal = 0;
        let scoreCount = 0, sdCount = 0;
        let sdMax = null;
        let eventMax = 0;
        quarterlyReports.forEach((report, index) => {
            if(report.overallScoreAverage !== "NaN"){
                scoreTotal += report.overallScoreAverage;
                scoreCount ++;

            }

            if(report.overallScoreSD !== "NaN"){
                sdTotal += report.overallScoreSD;
                sdCount ++;
            }

            if(sdMax === null || report.overallScoreSD > sdMax){
                sdMax = report.overallScoreSD;
            }

            let events = eventList.filter(event => (new Date(event.date) > new Date(report.startDate + "PST")) && (new Date(event.date) < new Date(report.endDate + "PST"))).length;
            if(events > eventMax){
                eventMax = events;
            }
        });

        let overallScoreAverage = scoreTotal / scoreCount;
        let overallScoreSd = sdTotal / sdCount;

        let lastReport = quarterlyReports[quarterlyReports.length - 1];
        let reportEventList = eventList.filter(event => (new Date(event.date) > new Date(lastReport.startDate + "PST")) && (new Date(event.date) < new Date(lastReport.endDate + "PST")));

        let overviewChipHTML = `
            <div class="col-12 col-lg-3">
                <div class="alert alert-secondary h-100">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Total Mean Score</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${overallScoreAverage.toFixed(3)}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${(overallScoreAverage / 2) + 50}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(0%, 0%); left: 0">${-100}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">${0}</p>
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-100%, 0%); left: 100%">${100}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="alert alert-secondary h-100">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Total SD</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${overallScoreSd.toFixed(3)}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${((overallScoreSd)/(sdMax)) * 100}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(0%, 0%); left: 0">${0}</p>
                        <!--<p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">x̃: </p>-->
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-100%, 0%); left: 100%">${sdMax.toFixed(1)}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="alert alert-secondary h-100">
                    <div class="w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">All Members</h6>
                        </div>
                        <p class="text-center fs-1 mb-0" style="margin-top: -10px">${lastReport.memberCount}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="alert alert-secondary h-100">
                    <div class="d-flex flex-col w-100">
                        <div class="d-flex flex-row align-items-start justify-content-between w-100">
                            <h6 class="text-center fw-bold">Current Quarter Events</h6>
                            <p class="text-end fs-2 mb-0" style="margin-top: -10px">${reportEventList.length}</p>
                        </div>
                    </div>
                    <div class="w-100 position-relative">
                        <img src="/icons/Arrow.svg" class="square-image position-absolute" style="width: 15px; transform: translate(-50%, 0%); left: ${((reportEventList)/(eventMax)) * 100}%" alt="arrow" />
                    </div>
                    <div class="bg-secondary w-100 mt-4" style="height: 10px;"></div>
                    <div class="w-100 position-relative">
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(0%, 0%); left: 0">${0}</p>
                        <!--<p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-50%, 0%); left: 50%">x̃: </p>-->
                        <p class="text-muted position-absolute m-0" style="font-size: 10px; transform: translate(-100%, 0%); left: 100%">${eventMax}</p>
                    </div>
                </div>
            </div>
        `;

        document.querySelector("#overview-chip-container").innerHTML = overviewChipHTML;
    }

    function renderOverviewTable(){
        // Top row
        let header = ""
        quarterlyReports.forEach((report, index) => {
            header += `
            <th>
                <div>
                    <p class="m-0 p-0">${formatDate(report.startDate + " PST")} -</p>
                    <p class="m-0 p-0">${formatDate(report.endDate + " PST")}</p>
                </div>
            </th>
            `;
        });

        // New Activity Score
        let newActivityScoreRow = ""
        quarterlyReports.forEach((report, index) => {
            newActivityScoreRow += `
                <td>${report.newActivityScore}</td>
            `;
        });

        // Total Activity Score
        let activityScoreRow = ""
        quarterlyReports.forEach((report, index) => {
            activityScoreRow += `
                <td>${report.activityScore}</td>
            `;
        });

        // New Members
        let newMemberCountRow = ""
        quarterlyReports.forEach((report, index) => {
            newMemberCountRow += `
                <td>${report.newMemberCount}</td>
            `;
        });

        // Member Total
        let memberCountRow = ""
        quarterlyReports.forEach((report, index) => {
            memberCountRow += `
                <td>${report.memberCount}</td>
            `;
        });

        // Connection Average
        let connectionAverageRow = ""
        quarterlyReports.forEach((report, index) => {
            if(report.overallConnectionCount === 0){
                connectionAverageRow += `
                    <td>N/A</td>
                `;
            }else{
                connectionAverageRow += `
                <td>${report.overallConnectionAverage.toFixed(3)}</td>
            `;
            }
        });

        // Connection Standard Deviation
        let connectionSDRow = ""
        quarterlyReports.forEach((report, index) => {
            if(report.overallConnectionSD === "NaN"){
                connectionSDRow += `
                    <td>N/A</td>
                `;
            }else{
                connectionSDRow += `
                    <td>${report.overallConnectionSD.toFixed(3)}</td>
                `;
            }
        });

        // Connection Total
        let connectionTotalRow = ""
        quarterlyReports.forEach((report, index) => {
            connectionTotalRow += `
                <td>${report.overallConnectionCount}</td>
            `;
        });

        // Score Standard Deviation
        let scoreSDRow = ""
        quarterlyReports.forEach((report, index) => {
            if(report.overallScoreSD === "NaN"){
                scoreSDRow += `<td>N/A</td>`;
            }else{
                scoreSDRow += `
                <td>${report.overallScoreSD.toFixed(3)}</td>
            `;
            }

        });

        // Score Average
        let scoreAverageRow = ""
        quarterlyReports.forEach((report, index) => {
            scoreAverageRow += `
                <td style="color: ${getColorGradient(report.overallScoreAverage !== 'NaN'? report.overallScoreAverage : 0, -100, 100)}">${report.overallScoreAverage !== 'NaN'? report.overallScoreAverage.toFixed(3) : "N/A"}</td>
            `;
        });

        // Score Total
        let scoreTotalRow = ""
        quarterlyReports.forEach((report, index) => {
            scoreTotalRow += `
                <td>${report.overallScoreTotal}</td>
            `;
        });

        // Human Metrics

        // Referring to Standard Deviation
        let mostVolatileRow = "";
        let leastVolatileRow = "";

        // Referring to evaluation slope
        let mostStableRow = "";
        let topGrossingRow = "";
        let bottomGrossingRow = "";

        // Streak checks
        let mostVolatileStreak = null;
        let leastVolatileStreak = null;
        let topGrossingStreak = null;
        let bottomGrossingStreak = null;
        let mostStableStreak = null;

        for(let report of quarterlyReports){
            let mostVolatile = null;
            let leastVolatile = null;

            // Referring to evaluation slope
            let mostStable = null; // closest to 0
            let topGrossing = null; // most positive
            let bottomGrossing = null; // most negative

            for(let m of report.memberReports){
                if(m.scoreSD !== "NaN"){
                    if(mostVolatile == null || m.scoreSD > mostVolatile.scoreSD){
                        mostVolatile = m
                    }

                    if(leastVolatile == null || m.scoreSD < leastVolatile.scoreSD){
                        leastVolatile = m
                    }
                }

                if(m.scoreSlope !== "NaN"){
                    if(topGrossing == null || m.scoreSlope > topGrossing.scoreSlope){
                        topGrossing = m
                    }

                    if(bottomGrossing == null || m.scoreSlope < bottomGrossing.scoreSlope){
                        bottomGrossing = m
                    }

                    if(mostStable == null || Math.abs(m.scoreSlope) < Math.abs(mostStable.scoreSlope)){
                        mostStable = m
                    }
                }
            }

            mostVolatileRow += renderMemberCell(mostVolatile, mostVolatile !== null && mostVolatile.id === mostVolatileStreak);
            if(mostVolatile !== null){
                mostVolatileStreak = mostVolatile.id;
            }

            leastVolatileRow += renderMemberCell(leastVolatile, leastVolatile !== null && leastVolatile.id === leastVolatileStreak);
            if(leastVolatile !== null){
                leastVolatileStreak = leastVolatile.id;
            }

            topGrossingRow += renderMemberCell(topGrossing, topGrossing !== null && topGrossing.id === topGrossingStreak);
            if(topGrossing !== null){
                topGrossingStreak = topGrossing.id;
            }

            bottomGrossingRow += renderMemberCell(bottomGrossing, bottomGrossing !== null && bottomGrossing.id === bottomGrossingStreak);
            if(topGrossing !== null){
                bottomGrossingStreak = bottomGrossing.id;
            }

            mostStableRow += renderMemberCell(mostStable, mostStable !== null && mostStable.id === mostStableStreak);
            if(mostStable !== null){
                mostStableStreak = mostStable.id;
            }
        }

        document.querySelector("#overview-stats-table").innerHTML = `
            <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>
                        <div>
                            <p class="m-0 p-0">Start Date</p>
                            <p class="m-0 p-0">End Date</p>
                        </div>
                    </th>
                    ${header}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-nowrap">Activity Score</th>
                    ${newActivityScoreRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Activity Total</th>
                    ${activityScoreRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Added Members</th>
                    ${newMemberCountRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Member Total</th>
                    ${memberCountRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Connection Average</th>
                    ${connectionAverageRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Connection Volatility</th>
                    ${connectionSDRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Added Connections</th>
                    ${connectionTotalRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Evaluation Average</th>
                    ${scoreAverageRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Evaluation SD</th>
                    ${scoreSDRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Evaluation Total</th>
                    ${scoreTotalRow}
                </tr>

                <tr>
                    <th class="text-nowrap">Most Volatile</th>
                    ${mostVolatileRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Least Volatile</th>
                    ${leastVolatileRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Top Grossing</th>
                    ${topGrossingRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Bottom Grossing</th>
                    ${bottomGrossingRow}
                </tr>
                <tr>
                    <th class="text-nowrap">Most Stagnant</th>
                    ${mostStableRow}
                </tr>
            </tbody>
        </table>`;
    }

    function renderMemberCell(member, isStreak = false){
        if(member === null || member === undefined){
            return `<td class="text-center">N/A</td>`;
        }
        return `
            <td>
                <div class="d-flex flex-row gap-2 justify-content-start align-items-center">
                    <img class="square-image" style="height: 60px; width: 60px" alt="profile image" src="/api/interpersonal/member/profile-image/${member.id}">
                    <div>
                        <p class="p-0 m-0 fw-bold">${member.firstName} ${member.lastName} ${isStreak? "🔥": ""}</p>
                        <div class="">
                            <div class="d-flex flex-row gap-3 justify-content-start align-items-center">
                                <div class="d-flex flex-row gap-2 justify-content-start align-items-center">
                                    <img class="square-image" style="height: 15px; width: 15px" alt="profile image" src="/icons/Volatility.svg">
                                    <p class="p-0 m-0 text-nowrap">${member.scoreSD !== 'NaN'? member.scoreSD.toFixed(3) : "N/A"}</p>
                                </div>
                                <div class="d-flex flex-row gap-2 justify-content-start align-items-center">
                                    <img class="square-image" style="height: 15px; width: 15px" alt="profile image" src="/icons/SlopeScore.svg">
                                    <p class="p-0 m-0 text-nowrap" style="color: ${getColorGradient(member.scoreSlope !== 'NaN'? member.scoreSlope : 0, -0.6, 0.6)}">${member.scoreSlope !== 'NaN'? member.scoreSlope.toFixed(3) : "N/A"}</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row gap-3 justify-content-start align-items-center">
                                <div class="d-flex flex-row gap-2 justify-content-start align-items-center">
                                    <img class="square-image" style="height: 15px; width: 15px" alt="profile image" src="/icons/ScoreCount.svg">
                                    <p class="p-0 m-0">${member.scoreCount}</p>
                                </div>
                                <div class="d-flex flex-row gap-2 justify-content-start align-items-center">
                                    <img class="square-image" style="height: 15px; width: 15px" alt="profile image" src="/icons/StartEnd.svg">
                                    <p class="p-0 m-0 text-nowrap">${member.startScore.cscore} → ${member.endScore.cscore}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>`;
    }

    function initializeCharts(){
        let scores = {
            datasets: [{ data: [] }]
        };

        let scores2 = {
            datasets: [{ data: [] }]
        };

        let canvas1 = document.querySelector("#evaluation-history-chart-overview");
        quarterlyAverageChart = new Chart(canvas1, {
            type: 'line',
            data: scores,
            options: {
                aspectRatio: 4,
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'MM/dd/yyyy',
                            displayFormats: {
                                day: 'MM/dd/yyyy'
                            }
                        }
                    }
                }
            }
        });

        let canvas2 = document.querySelector("#volatility-history-chart-overview");
        volatilityChart = new Chart(canvas2, {
            type: 'line',
            data: scores2,
            options: {
                aspectRatio: 4,
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'MM/dd/yyyy',
                            displayFormats: {
                                day: 'MM/dd/yyyy'
                            }
                        }
                    }
                }
            }
        });
    }

    // Database helper functions
    function updateEventModal(id){
        const event = eventList.find(g => g.id === id);
        console.log(event);
        document.querySelector("#saveEventModalTitle").textContent = "Edit Event Details";
        document.querySelector("#event-id-form").value =  event.id;
        document.querySelector("#event-label-form").value = event.label;
        document.querySelector("#event-description-form").value = event.description;
        document.querySelector("#event-date-form").value = event.date;
        document.querySelector("#event-red-form").value = event.color.red;
        document.querySelector("#event-green-form").value = event.color.green;
        document.querySelector("#event-blue-form").value = event.color.blue;
        updateEventColorPreview();
    }

    function updateEventColorPreview(){
        const color = "rgb(" + document.querySelector("#event-red-form").value + "," + document.querySelector("#event-green-form").value + "," + document.querySelector("#event-blue-form").value + ")";
        console.log(color);
        document.querySelector("#event-color-preview").style.backgroundColor = color;
    }

    function modalSaveEvent(){
        const formData = {
            id: document.querySelector("#event-id-form").value,
            label: document.querySelector("#event-label-form").value,
            description: document.querySelector("#event-description-form").value,
            date: document.querySelector("#event-date-form").value,
            red: document.querySelector("#event-red-form").value,
            green: document.querySelector("#event-green-form").value,
            blue: document.querySelector("#event-blue-form").value
        };

        let toastId = createToast("Saving Event");
        postData("/api/interpersonal/event/save", formData)
            .then((message) => {
                document.getElementById(`${toastId}-body`).innerText = getIcon(message.severity) + message.message;
                document.getElementById(`${toastId}-title`).innerText =  message.title;
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to connect to Polariscope Online Services";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .finally(() => refresh());
    }

    function deleteEvent(id){
        let toastId = createToast("Deleting Event");
        postData("/api/interpersonal/event/delete", id)
            .then((message) => {
                console.log(message);
                document.getElementById(`${toastId}-title`).innerText = message.title;
                document.getElementById(`${toastId}-body`).innerText = getIcon(message.severity) + message.message;
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                response.json()
                document.getElementById(`${toastId}-body`).innerText = getIcon(
                    errorData.severity) + errorData.message;
                document.getElementById(`${toastId}-title`).innerText = errorData.title;
                document.getElementById(`${toastId}-loading`).style.color = "red";
            })
            .finally(() => {refresh()});
    }

    // Event Listeners
    document.querySelector("#event-red-form").addEventListener('input', function() {
        updateEventColorPreview();
    });
    document.querySelector("#event-green-form").addEventListener('input', function() {
        updateEventColorPreview();
    });
    document.querySelector("#event-blue-form").addEventListener('input', function() {
        updateEventColorPreview();
    });

    document.addEventListener('keydown', (event) => {

        switch (event.key) {
            case "ArrowLeft":
                decrementIndex();
                // Left pressed
                break;
            case "ArrowRight":
                // Right pressed
                incrementIndex();
                break;
            case "ArrowUp":
                // Up pressed
                incrementIndex();
                break;
            case "ArrowDown":
                // Down pressed
                incrementIndex();
                break;
        }
        renderDetailsTab();
    });

    function incrementIndex(){
        selectedReportIndex = (selectedReportIndex + 1) % quarterlyReports.length;
        selectedReport = quarterlyReports[selectedReportIndex];
    }

    function decrementIndex(){
        selectedReportIndex -= 1;
        if(selectedReportIndex < 0){
            selectedReport = quarterlyReports.length - 1;
        }
        selectedReport = quarterlyReports[selectedReportIndex];
    }

</script>
</body>
</html>