<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Compare')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: navigation}"></div>
<main class="bg-2 text-1" data-bs-theme="dark">
    <div class="container-fluid bg-body">

        <nav class="navbar d-flex justify-content-between align-items-center">
            <div>
                <a href="/interpersonal">< Interpersonal Home</a>
            </div>
        </nav>

        <div class="row my-3">
            <div class="col-lg-3 d-none d-lg-block">
                <canvas id="composition-chart"></canvas>
            </div>
            <div class="col-12 col-lg-9 px-3">
                <h2 class="fw-bold mt-3">Member Compare</h2>
                <div>
                    <canvas id="evaluation-history-chart"></canvas>
                </div>
                <button type="button" class="btn btn-primary mt-3" onclick="saveEvaluation()" data-bs-toggle="modal" data-bs-target="#member-modal">Add Members</button>
                <button type="button" class="btn btn-primary mt-3" onclick="saveEvaluation(true)">Something else</button>
                <div id="timeline-table-container">

                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" tabindex="-1" aria-labelledby="be" id="member-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="be">Choose Members to Compare</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Batch evaluate allows you to produce evaluations for all registered members at a time. It is highly recommended to add evaluations to your members on this screen in order to be more consistent with scores. Please choose a timestamp for evaluations:</p>
                    </div>
                    <div class="col-12">
                        <label for="date-form-modal" class="form-label">Timestamp for Evaluations</label>
                        <input type="datetime-local" class="form-control" id="date-form-modal">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="updateTimestamp()" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<script>

    let memberList;

    createEvalChart();
    refresh();

    function refresh(){
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        Promise.all([memberListFetch])
            .then(responses => {
                return Promise.all([responses[0]]);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                memberList = data[0];

            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }

    function createEvalChart(){
        let canvas = document.querySelector("#evaluation-history-chart");
        let scores = {datasets: [{data:[]}]};
        evalChartEval = new Chart(canvas, {
            type: 'line',
            data:scores,
            options: {
                aspectRatio: 4,
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                        }
                    },
                },
            }
        });
    }
</script>
</body>
</html>