<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Relationships')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>
<main class="bg-body px-0 d-flex flex-column" style="height:100vh; margin-left:60px;">
    <nav class="pt-4 px-4" style="background: linear-gradient(#222, #333); border-bottom: 1px #495057 solid;">
        <div class="row mb-2">
            <div class="col-md-10 d-flex flex-row align-items-center justify-content-start">
                <img class="square-image me-2" style="height: 50px; width: 50px" alt="Feature image"
                     th:src="@{/icons/Relationship.svg}">
                <h1 class="fw-bold">Interpersonal Relationships</h1>
            </div>
            <div class="col-md-2 mb-2 d-flex flex-column align-items-start justify-content-center">
                <div>
                    <div class="spinner-border d-none" role="status" id="loading-spinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <img src="/icons/Error.svg" id="error-icon" alt="error" class="profile-image d-none" height="32px"/>
                </div>
            </div>
        </div>
        <p class="fs-5 mb-2">View the following spreadsheet below. Relationships are depicted as one-directional, with
            the vertical column being the subject and the horizontal row being the subject's person of interest. Use
            cells to input their relationship details.</p>

        <div class="d-flex flex-row justify-content-between align-items-center">
            <ul class="nav nav-underline" id="nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-4" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane" type="button" role="tab" aria-controls="table-tab-pane" aria-selected="true">Table</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-4" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph-tab-pane" type="button" role="tab" aria-controls="graph-tab-pane" aria-selected="false">Graph</button>
                </li>
            </ul>
            <div class="flex-shrink-0">
                <select class="form-select" id="select-group" name="group" onchange="refresh()" required>
                    <option value="">All Members</option>
                    <th:block th:each="group : ${groups}">
                        <option th:value="${group.getId()}" th:text="${group.getName()}"></option>
                    </th:block>
                </select>
            </div>
        </div>
    </nav>
    <div class="p-0 h-100">
        <div class="tab-content h-100" id="tab-content">
            <div class="tab-pane fade show active" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr id="table-head"></tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade flex-grow-1 h-100" id="graph-tab-pane" role="tabpanel" aria-labelledby="graph-tab" tabindex="0">
                <div class="h-100" id="graph-container"></div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="relationship-modal" tabindex="-1" aria-labelledby="relationship-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="relationship-modal-label">Create / Edit Relationship</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You are about to edit the one-way relationship between two Polariscope members. Please review carefully and proceed</p>
                <div class="d-flex flex-row gap-3 align-items-center justify-content-center py-3 my-2" style="background: linear-gradient(#222, #333); border-bottom: 1px #495057 solid; border-top: 1px #495057 solid;">
                    <div class="d-flex flex-column align-items-center">
                        <img id="modal-person-1-img" class="profile-image" alt="person 1" src="/icons/Default%20User.svg" width="100px" />
                        <p id="modal-person-1-name" class="mb-0 fw-bold">Person 1</p>
                    </div>
                    <img src="/icons/Arrow.svg" class="mx-3" style="transform: rotate(-90deg)" width="70px" alt="Arrow pointing right" />
                    <div class="d-flex flex-column align-items-center">
                        <img id="modal-person-2-img" class="profile-image" alt="person 2" src="/icons/Default%20User.svg" width="100px" />
                        <p id="modal-person-2-name" class="mb-0 fw-bold">Person 2</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p id="modal-relationship-health"></p>
                    <p id="modal-relationship-type"></p>
                </div>
                <div class="mt-2">
                    <p class="fs-4 fw-bold">Relationship Details</p>
                    <div class="mb-3">
                        <label for="modal-relationship-type-form">Relationship Type</label>
                        <select class="form-select" id="modal-relationship-type-form" name="relationship" required>
                            <option value="" disabled>Select Relationship Type</option>
                            <th:block th:each="relationshipType : ${relationshipTypes}">
                                <option th:value="${relationshipType}" th:text="${relationshipType.toString().toLowerCase()}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modal-relationship-health-form" class="form-label">Relationship Health</label>
                        <input type="number" class="form-control" id="modal-relationship-health-form" required>
                    </div>

                    <input type="hidden" id="modal-self" />
                    <input type="hidden" id="modal-other" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveRelationship()">Save</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{components/Gradient :: gradient}"></div>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/Toast :: toast}"></div>
<div th:replace="~{components/Formatting :: timestamp-formatting}"></div>
<script src="/external/cytoscape.min.js"></script>


<script>
    let allMembers, memberRelationships;
    let cy = cytoscape({

        container: document.getElementById('graph-container'),

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'background-color': '#666',
                    'label': 'data(id)'
                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 3,
                    'line-color': '#ccc',
                    'target-arrow-color': '#ccc',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier'
                }
            }
        ],

        layout: {
            name: 'grid',
            rows: 1
        }

    });

    refresh();

    function refresh() {
        let spinner = document.querySelector("#loading-spinner");
        let errorIcon = document.querySelector("#error-icon");
        spinner.classList.add("d-block");
        spinner.classList.remove("d-none");

        let memberListFetch = fetch("/api/interpersonal/member/all", {});

        // Get group selected
        let selectedGroup = document.querySelector("#select-group").value;
        if(selectedGroup.length > 0){
            memberListFetch = fetch("/api/interpersonal/member/group/" + selectedGroup, {});
        }

        const relFetch = fetch("/api/interpersonal/relationship/all", {});
        Promise.all([memberListFetch, relFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json()]);
            })
            .then(data => {
                let members = data[0];
                allMembers = members.sort((a, b) => a.firstName.localeCompare(b.firstName));
                memberRelationships = data[1];
                renderTable();
                renderGraph();
            })
            .catch((response) => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            })
            .finally(() => {
                spinner.classList.remove("d-block");
                spinner.classList.add("d-none");
            });
    }

    function saveRelationship(){
        let data = {
            self: document.querySelector("#modal-self").value,
            other: document.querySelector("#modal-other").value,
            health: document.querySelector("#modal-relationship-health-form").value,
            type: document.querySelector("#modal-relationship-type-form").value
        }

        let errorIcon = document.querySelector("#error-icon");
        let toastId = createToast("Updating Relationship");
        postData("/api/interpersonal/relationship/save", data)
            .then((message) => {
                console.log(message);
                document.getElementById(`${toastId}-title`).innerText = message.title;
                document.getElementById(`${toastId}-body`).innerText = getIcon(message.severity) + message.message;
                document.getElementById(`${toastId}-loading`).style.color = "green";
            })
            .catch((response) => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to edit relationship";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .finally(() => {
                refresh();
            });
    }

    function renderTable() {
        let headContent = `<th scope="col"></th>`;
        allMembers.forEach((member) => {
            headContent += `
                <th class="px-0">
                    <p class="fs-6 mb-0 text-center text-truncate">${member.firstName}</p>
                    <p class="fs-6 mb-0 text-center text-truncate">${member.lastName}</p>
                </th>`
            //headContent += `<th scope="col"><img class="profile-image" alt="${member.firstName}" src="/api/interpersonal/member/profile-image/${member.id}" width="50px" /></th>`
        });
        document.querySelector("#table-head").innerHTML = headContent;

        let bodyContent = "";
        allMembers.forEach((self) => {
            bodyContent += `<tr><td><p class="p-0 m-0 text-end fw-bold">${self.firstName + " " + self.lastName}</p></td>`;

            allMembers.forEach((other) => {
                let relationship = memberRelationships.find((rel) => rel.id === self.id + other.id);
                let cellContent = `<div class="d-flex flex-row justify-content-center align-items-center"><button type="button" class="btn btn-secondary only-hover" data-bs-toggle="modal" data-bs-target="#relationship-modal" onclick="renderModal('${self.id}', '${other.id}')">Edit</button></div>`;

                bodyContent += `<td class="p-0" style="background-color: ${relationship? getColorGradient(relationship.health, -100, 100) : ((self.id !== other.id)? '#333' : '#000')}">${(self.id !== other.id)? cellContent : "<p class='text-center p-0'>-</p>"}</td>`
            });

            bodyContent += `</tr>`;
        });

        document.querySelector("#table-body").innerHTML = bodyContent;
    }

    function renderModal(selfId, otherId){
        let self = allMembers.find((member) => member.id === selfId);
        let other = allMembers.find((member) => member.id === otherId);
        let relationship = memberRelationships.find((rel) => rel.id===`${self.id}${other.id}`);

        document.querySelector("#modal-person-1-name").textContent = self.firstName + " " + self.lastName;
        document.querySelector("#modal-person-2-name").textContent = other.firstName + " " + other.lastName;

        if(relationship){
            document.querySelector("#modal-relationship-health").textContent = `Relationship Health: ${relationship.health}`;
            document.querySelector("#modal-relationship-type").textContent = `Relationship Type: ${relationship.type}`;

            document.querySelector("#modal-relationship-health-form").value = relationship.health;
            document.querySelector("#modal-relationship-type-form").value = relationship.type;
        }else{
            document.querySelector("#modal-relationship-health").textContent = "No relationship recorded";
            document.querySelector("#modal-relationship-type").textContent = "";

            document.querySelector("#modal-relationship-health-form").value = 0;
            document.querySelector("#modal-relationship-type-form").value = "";
        }

        document.querySelector("#modal-person-1-img").src = `/api/interpersonal/member/profile-image/${self.id}`;
        document.querySelector("#modal-person-2-img").src = `/api/interpersonal/member/profile-image/${other.id}`;

        document.querySelector("#modal-self").value = self.id;
        document.querySelector("#modal-other").value = other.id;
    }

    function renderGraph(){
        let toAdd = [];
        allMembers.forEach((member) => {
            toAdd.push({group: 'nodes', data: {id: member.id}, position: {x: 100, y: 100}})
        });

        memberRelationships.forEach((relationship) => {
            toAdd.push({ group: 'edges', data: { id: relationship.id, source: relationship.self.id, target: relationship.other.id } });
        });
        cy.add(toAdd);
    }

</script>
<style>
    .only-hover{
        opacity: 0;
        transition: opacity;
        transition-duration: 400ms;
    }

    .only-hover:hover{
        opacity: 100%;
    }

    .profile-image{
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
</style>
</body>
</html>