<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Compare')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>
<main class="bg-2 text-1" style="margin-left: 60px">
    <div class="container-fluid bg-body">
        <div class="row my-3">
            <div class="col-lg-3 d-none d-lg-block">
                <p class="fs-4 fw-bold text-center mb-4">Demographic Summary</p>
                <canvas id="composition-canvas"></canvas>
                <div class="list-group mt-4" id="member-list-side"></div>
            </div>
            <div class="col-12 col-lg-9 px-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fw-bold">Member Compare</h2>
                    <div>
                        <div class="spinner-border d-none" role="status" id="loading-spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <img src="/icons/Error.svg" id="error-icon" alt="error" class="square-image d-none" height="32px" />
                    </div>
                </div>

                <div>
                    <canvas id="evaluation-history-chart"></canvas>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-end">
                    <ul class="nav nav-underline" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active fs-4" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane" type="button" role="tab" aria-controls="notes-tab-pane" aria-selected="true">Notes</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link fs-4" id="network-tab" data-bs-toggle="tab" data-bs-target="#network-tab-pane" type="button" role="tab" aria-controls="network-tab-pane" aria-selected="false">Network</button>
                        </li>
                    </ul>
                    <div class="d-flex flex-row justify-content-end align-items-center">
                        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#member-modal">Select Members</button>
                        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#event-modal">Select Events</button>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="notes-tab-pane" role="tabpanel" aria-labelledby="notes-tab" tabindex="0">
<!--                        <h3 class="fw-bold mt-3 mb-2">Notes</h3>-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Timestamp</th>
                                    <th scope="col">Member</th>
                                    <th scope="col">cScore</th>
                                    <th scope="col">note</th>
                                </tr>
                                </thead>
                                <tbody id="timeline-table-container"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="network-tab-pane" role="tabpanel" aria-labelledby="network-tab" tabindex="0">
                        <div class="" style="height: 400px" id="network-container"></div>
                        <div class="position-absolute bottom-0 end-0 bg-body-tertiary p-3 m-3 d-flex flex-row gap-2">
                            <button type="button" class="btn bg-light-subtle d-flex justify-content-center align-items-center p-2" data-bs-toggle="tooltip" data-bs-title="Reset View" onclick="cy.reset()">
                                <img class="square-image" src="/icons/Reset%20Zoom.svg" alt="refresh" style="width: 30px;">
                            </button>
                            <button type="button" class="btn bg-light-subtle d-flex justify-content-center align-items-center p-2" data-bs-toggle="modal" data-bs-target="#graph-modal">
                                <img class="square-image" src="/icons/Settings.svg" alt="refresh" style="width: 30px;">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" tabindex="-1" aria-labelledby="be" id="member-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="be">Choose Members to Compare</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>This tool allows you to compare and contrast saved member evaluation scores over time. You are able to add as many members as you choose. If you would like to include or remove a member from the graph, simply click on the member's name and press apply.</p>
                    </div>
                    <div class="col-12">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                        Included Members
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                    <div class="list-group" id="member-list-included">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        Members Not Included
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                    <div class="list-group" id="member-list-not-included">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="retrieveMemberDetails()" data-bs-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" aria-labelledby="be" id="event-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Events</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Please choose events you would like to be depicted inside evaluation graphs. To add more events, please go to settings</p>
                    </div>
                    <div class="col-12">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        Included Events
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                    <div class="list-group" id="event-list-included">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        Events Not Included
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                    <div class="list-group" id="event-list-not-included">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateChart()" data-bs-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="graph-modal" tabindex="-1" aria-labelledby="graph-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="graph-modal-label">Graph Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Show Profile Images</h4>
                    <p>Shows profile images on top of each node representing a member if applicable.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="graph-checkbox-img">
                        <label class="form-check-label" for="graph-checkbox-img">
                            Show profile images
                        </label>
                    </div>
                </div>
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Show Names</h4>
                    <p>Display member names as labels on each node.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="graph-checkbox-labels" checked>
                        <label class="form-check-label" for="graph-checkbox-labels">
                            Show names
                        </label>
                    </div>
                </div>
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Relationship Strength</h4>
                    <p>Displays edges that have an absolute value of above the given amount.</p>
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <p id="tolerance-indicator" style="width: 40px" class="text-center">0</p>
                        <div class="form-check p-0 flex-grow-1">
                            <label for="graph-range-show" class="form-label">Tolerance level</label>
                            <input type="range" class="form-range" min="0" max="100" id="graph-range-show" onchange="updateToleranceIndicator()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="renderNetwork()" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<div th:replace="~{components/Gradient :: gradient}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<div th:replace="~{components/Formatting :: timestamp-formatting}"></div>
<script src="/external/cytoscape.min.js"></script>

<script>
    let memberList, eventList;
    let memberDetailList;
    let evalChart, memberCompositionChart;

    let memberRelationships;
    let cy = cytoscape({

        container: document.getElementById('network-container'),

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'background-color': 'data(color)',
                    'label': 'data(name)',
                    'color': 'white',
                    'text-wrap': 'ellipsis',
                    'background-opacity': 'data(opacity)',
                    'shape': 'data(shape)',
                    'background-image': 'data(img)',
                    'background-image-opacity': 'data(imgOpacity)',
                    'background-fit': 'contain'
                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 3,
                    'line-color': 'data(color)',
                    'target-arrow-color': 'data(color)',
                    'target-arrow-shape': 'chevron',
                    'curve-style': 'bezier',
                    'opacity': 'data(opacity)'
                }
            }
        ],
    });

    createEvalChart();
    refresh();

    document.addEventListener("DOMContentLoaded", function() {
        let myModal = new bootstrap.Modal(document.getElementById('member-modal'));
        myModal.show();
    });

    async function retrieveMemberDetails() {
        let spinner = document.querySelector("#loading-spinner");
        let errorIcon = document.querySelector("#error-icon");
        spinner.classList.add("d-block");
        spinner.classList.remove("d-none");

        const fetchArray = memberList
            .filter(member => member.included === true)
            .map(member => fetch("/api/interpersonal/member/view/" + member.id, {}));


        memberDetailList = [];

        Promise.all(fetchArray)
            .then(responses => {
                // Check if all responses are ok
                responses.forEach(response => {
                    if (!response.ok) {
                        errorIcon.classList.add("d-block");
                        errorIcon.classList.remove("d-none");
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                });
                // Convert all responses to JSON
                return Promise.all(responses.map(response => response.json()));
            })
            .then(dataArray => {
                // Handle the array of data objects
                dataArray.forEach(data => {
                    memberDetailList.push(data);
                });
            })
            .catch(error => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                console.error("Error:", error);
                if (error.response) {
                    error.response.json()
                        .then(errorData => {
                            console.log(errorData.message);
                        })
                        .catch(parseError => {
                            console.error("Error parsing error response:", parseError);
                        });
                }
            })
            .finally(() => {
                spinner.classList.remove("d-block");
                spinner.classList.add("d-none");

                updateChart();
                updateTable();
                updateDemographicList();
                renderNetwork();
            });
    }

    function updateDemographicList(){
        const listContainer = document.querySelector("#member-list-side");
        let content = ``;
        memberDetailList.forEach((member) => {
            content += `
                <a type="button" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between gap-2" href="/interpersonal/member/view/${member.id}">
                    <div class="d-flex justify-content-start gap-2 align-items-center">
                        <img class="square-image img-fluid" style="width: 40px; height: 40px;" alt="pfp" src="/api/interpersonal/member/profile-image/${member.id}" />
                        <p class="mb-0 fw-bold ms-2 fs-4">${member.firstName} ${member.lastName}</p>
                    </div>
                    <p class="mb-0 fw-bold" style="color: ${getColorGradient(member.mostRecentEval.cscore, -100, 100)}">${member.mostRecentEval.cscore}</p>
                </a>
            `;
        });

        listContainer.innerHTML = content;
    }

    function updateTable(){
        const tableContainer = document.querySelector("#timeline-table-container");
        let tableContent = ``;

        const combinedNotes = memberDetailList.flatMap(member =>
            member.fullTimeline.map(element => ({
                ...element,
                firstName: member.firstName,
                lastName: member.lastName,
                id: member.id
            }))
        );
        const sortedNotes = combinedNotes.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));

        sortedNotes.filter(eval => eval.note.length > 0).forEach((eval) => {
            let row = `
                    <tr>
                        <td scope="col">${formatDate(eval.timestamp)}</td>
                        <td scope="col"><a href="/interpersonal/member/view/${eval.id}" class="fw-bold">${eval.firstName} ${eval.lastName}</a></td>
                        <td scope="col" class="fw-bold" style="color: ${getColorGradient(eval.cscore, -100, 100)}">${eval.cscore}</td>
                        <td scope="col">${eval.note}</td>
                    </tr>
                `;
            tableContent += row;
        });

        tableContainer.innerHTML = tableContent;
    }

    function updateChart(){
        let datasets = [];
        for(const member of memberDetailList){
            let chartEntryData = [];
            member.fullTimeline.forEach((eval) => {
                chartEntryData.push({x: new Date(eval.timestamp), y: eval.cscore})
            })

            const chartEntry = {
                label: member.firstName + ' ' + member.lastName,
                data: chartEntryData,
            }

            datasets.push(chartEntry);
        }

        // Annotations
        evalChart.options.plugins.annotation.annotations = [];

        const newAnnotations = eventList.filter((event) => {return "included" in event && event.included === true}).map((event, index) => ({
            type: 'line',
            xScaleID: 'x',
            xMin: new Date(event.date),
            xMax: new Date(event.date),
            borderColor: `rgba(${event.color.red}, ${event.color.green}, ${event.color.blue}, 1)`,
            borderWidth: 2,
            label: {
                content: event.label,
                display: true,
                position: 'start',
                backgroundColor: `rgba(${event.color.red}, ${event.color.green}, ${event.color.blue}, 0.8)`,
                color: 'white',
                yAdjust: -10
            }
        }));

        evalChart.options.plugins.annotation.annotations = newAnnotations;

        evalChart.data.datasets = datasets;
        evalChart.update();

        // Composition Chart
        const tally = memberDetailList.reduce((acc, obj) => {
            const type = obj.relationship;
            if (acc[type]) {
                acc[type]++;
            } else {
                acc[type] = 1;
            }
            return acc;
        }, {});

        const labels = Object.keys(tally);
        const values = Object.values(tally);

        data = {
            datasets: [{
                data:values
            }],
            labels:labels
        };

        memberCompositionChart.data = data;
        memberCompositionChart.update();
    }

    function refresh(){
        const memberListFetch = fetch("/api/interpersonal/member/all", {});
        const allEventFetch = fetch("/api/interpersonal/event/all", {});
        const relFetch = fetch("/api/interpersonal/relationship/all", {});
        Promise.all([memberListFetch, allEventFetch, relFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json(), data[2].json()]);
            })
            .then(data => {
                memberList = data[0];
                eventList = data[1];
                memberRelationships = data[2];
                renderMemberModal();
                renderEventModal();
                renderNetwork();
            })
            .catch((response) => {
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }

    function renderEventModal(){
        const notIncludedContainer = document.querySelector("#event-list-not-included");
        const includedContainer = document.querySelector("#event-list-included");
        let notIncluded = "", included = "";

        eventList.forEach((event) => {
            let element = `<button type="button" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between gap-2" onclick="toggleEventMark('${event.id}')">
                            <p class="mb-0 fw-bold ms-2">${event.label}</p>
                            <div class="d-flex justify-content-start gap-2 align-items-center">
                                <p class="mb-0">${formatTimestamp(event.date)}</p>
                                <div style="height: 30px; width:30px; background-color: rgb(${event.color.red}, ${event.color.green}, ${event.color.blue})"></div>
                            </div>
                        </button>`;

            if("included" in event && event.included === true){
                included += element;
            }else{
                notIncluded += element;
            }
        });
        notIncludedContainer.innerHTML = notIncluded;
        includedContainer.innerHTML = included;
    }

    function renderMemberModal(){
        const notIncludedContainer = document.querySelector("#member-list-not-included");
        const includedContainer = document.querySelector("#member-list-included");
        let notIncluded = "", included = "";

        memberList.forEach((member) => {
            if(member.lastEvaluation != null){
                let element = `<button type="button" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between gap-2" onclick="toggleMark('${member.id}')">
                                <div class="d-flex justify-content-start gap-2 align-items-center">
                                    <img class="square-image img-fluid" style="width: 20px; height: 20px;" alt="pfp" src="/api/interpersonal/member/profile-image/${member.id}" />
                                    <p class="mb-0 fw-bold ms-2">${member.firstName} ${member.lastName}</p>
                                </div>
                                <p class="mb-0 fw-bold" style="color: ${getColorGradient(member.lastEvaluation.cscore, -100, 100)}">${member.lastEvaluation.cscore}</p>
                            </button>`;

                if("included" in member && member.included === true){
                    included += element;
                }else{
                    notIncluded += element;
                }
            }
        });
        notIncludedContainer.innerHTML = notIncluded;
        includedContainer.innerHTML = included;
    }

    function toggleMark(id){
        let member = memberList.find(m => m.id === id);
        member.included = !("included" in member && member.included === true);
        renderMemberModal();
    }

    function toggleEventMark(id){
        let event = eventList.find(m => m.id === id);
        event.included = !("included" in event && event.included === true);
        renderEventModal();
    }

    function createEvalChart(){
        let canvas = document.querySelector("#evaluation-history-chart");
        let scores = {datasets: [{data:[]}]};
        evalChart = new Chart(canvas, {
            type: 'line',
            data:scores,
            options: {
                aspectRatio: 3,
                responsive: true,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'MM/dd/yyyy'
                            }
                        }
                    },
                },
            }
        });

        canvas = document.querySelector("#composition-canvas");
        let data = {
            datasets: [{
                data:[]
            }],
            labels:[]
        };
        memberCompositionChart = new Chart(canvas, {
            type: 'doughnut',
            data:data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    }

    function renderNetwork(){
        cy.nodes().remove();

        let toAdd = [];
        memberList.filter((m) => m.included).forEach((member) => {
            let lastEval = member.lastEvaluation? member.lastEvaluation : member.mostRecentEval;
            toAdd.push({
                group: 'nodes',
                data: {
                    id: member.id,
                    name: document.querySelector("#graph-checkbox-labels").checked? member.firstName + " " + member.lastName : "",
                    parent: (member.group? member.group.id : ""),
                    img: `/api/interpersonal/member/profile-image/${member.id}`,
                    imgOpacity: document.querySelector("#graph-checkbox-img").checked? "1" : "0",
                    opacity: 1,
                    shape: shapeMap(member.sex),
                    color: getColorGradient((lastEval === undefined ||  lastEval.cscore === null? "#333" : lastEval.cscore), -100, 100)
                }
            });
        });

        memberRelationships.filter((r) => Math.abs(r.health) > document.querySelector("#graph-range-show").value).forEach((relationship) => {
            let person1 = memberList.filter((m) => m.included).find((x) => x.id === relationship.self.id);
            let person2 = memberList.filter((m) => m.included).find((x) => x.id === relationship.other.id);
            if(person1 && person2){
                toAdd.push({ group: 'edges', data: { id: relationship.id, source: relationship.self.id, target: relationship.other.id, color: getColorGradient(relationship.health, -100, 100), opacity: Math.min(Math.max((Math.abs(relationship.health) / 100), .05), .9)} });
            }
        });

        cy.add(toAdd);

        let orphan_layout = cy.elements().orphans().layout({
            name: 'circle',
            fit: true,
            animation: false
        });

        orphan_layout.run();
    }

    function shapeMap(sex){
        if(sex === "MALE"){
            return "rectangle";
        }else if(sex === "FEMALE"){
            return "ellipse";
        }else{
            return "triangle";
        }
    }

    document.querySelector("#graph-range-show").value = 0;
    function updateToleranceIndicator(){
        document.querySelector('#tolerance-indicator').textContent = document.querySelector('#graph-range-show').value;
    }


</script>
</body>
</html>