<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Network')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>
<main class="bg-body px-0 d-flex flex-column" style="height:100vh; margin-left:60px;">
    <nav class="pt-4 px-4" style="background: linear-gradient(#222, #333); border-bottom: 1px #495057 solid;">
        <div class="row mb-2">
            <div class="col-md-12 d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row align-items-center justify-content-start">
                    <img class="square-image me-2" style="height: 50px; width: 50px" alt="Feature image"
                         th:src="@{/icons/Relationship.svg}">
                    <h1 class="fw-bold">Interpersonal Network</h1>
                </div>

                <div class="col-md-2 mb-2 d-flex flex-row align-items-center justify-content-end gap-3">
                    <div>
                        <div class="spinner-border d-none" role="status" id="loading-spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <img src="/icons/Error.svg" id="error-icon" alt="error" class="profile-image d-none" height="32px"/>
                    </div>
                    <button type="button" class="btn bg-light-subtle d-flex justify-content-center align-items-center p-2" onclick="toggleFullscreen()">
                        <img class="square-image" src="/icons/Fullscreen.svg" alt="refresh" style="width: 30px;">
                    </button>
                </div>
            </div>
        </div>
        <p class="fs-5 mb-2" id="nav-description">Use the spreadsheet to manage interpersonal relationships between members. Rows represent subjects, and columns represent the individuals they relate to. Use the graph view to visualize relationships as a network.</p>

        <div class="d-flex flex-row justify-content-between align-items-center" id="nav-menu">
            <ul class="nav nav-underline" id="nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-4" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane" type="button" role="tab" aria-controls="table-tab-pane" aria-selected="true">Table</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-4" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph-tab-pane" type="button" role="tab" aria-controls="graph-tab-pane" aria-selected="false">Graph</button>
                </li>
            </ul>
            <div class="flex-shrink-0">
                <select class="form-select" id="select-group" name="group" onchange="refresh()" required>
                    <option value="">All Members</option>
                    <th:block th:each="group : ${groups}">
                        <option th:value="${group.getId()}" th:text="${group.getName()}"></option>
                    </th:block>
                </select>
            </div>
        </div>
    </nav>
    <div class="p-0 h-100">
        <div class="tab-content h-100" id="tab-content">
            <div class="tab-pane fade show active" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr id="table-head"></tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade flex-grow-1 h-100" id="graph-tab-pane" role="tabpanel" aria-labelledby="graph-tab" tabindex="0">
                <div class="h-100" id="graph-container"></div>
                <div class="position-absolute bottom-0 end-0 bg-body-tertiary p-3 m-3 d-flex flex-row gap-2">
                    <button type="button" class="btn bg-light-subtle d-flex justify-content-center align-items-center p-2" data-bs-toggle="tooltip" data-bs-title="Reset View" onclick="cy.reset()">
                        <img class="square-image" src="/icons/Reset%20Zoom.svg" alt="refresh" style="width: 30px;">
                    </button>
                    <button type="button" class="btn bg-light-subtle d-flex justify-content-center align-items-center p-2" data-bs-toggle="modal" data-bs-target="#graph-modal">
                        <img class="square-image" src="/icons/Settings.svg" alt="refresh" style="width: 30px;">
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="relationship-modal" tabindex="-1" aria-labelledby="relationship-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="relationship-modal-label">Create / Edit Relationship</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You are about to edit the one-way relationship between two Polariscope members. Please review carefully and proceed</p>
                <div class="d-flex flex-row gap-3 align-items-center justify-content-center py-3 my-2" style="background: linear-gradient(#222, #333); border-bottom: 1px #495057 solid; border-top: 1px #495057 solid;">
                    <div class="d-flex flex-column align-items-center">
                        <img id="modal-person-1-img" class="profile-image" alt="person 1" src="/icons/Default%20User.svg" width="100px" />
                        <p id="modal-person-1-name" class="mb-0 fw-bold">Person 1</p>
                    </div>
                    <img src="/icons/Arrow.svg" class="mx-3" style="transform: rotate(-90deg)" width="70px" alt="Arrow pointing right" />
                    <div class="d-flex flex-column align-items-center">
                        <img id="modal-person-2-img" class="profile-image" alt="person 2" src="/icons/Default%20User.svg" width="100px" />
                        <p id="modal-person-2-name" class="mb-0 fw-bold">Person 2</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p id="modal-relationship-health"></p>
                    <p id="modal-relationship-type"></p>
                </div>
                <div class="mt-2">
                    <p class="fs-4 fw-bold">Relationship Details</p>
                    <div class="mb-3">
                        <label for="modal-relationship-type-form">Relationship Type</label>
                        <select class="form-select" id="modal-relationship-type-form" name="relationship" required>
                            <option value="" disabled>Select Relationship Type</option>
                            <th:block th:each="relationshipType : ${relationshipTypes}">
                                <option th:value="${relationshipType}" th:text="${relationshipType.toString().toLowerCase()}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modal-relationship-health-form" class="form-label">Relationship Health</label>
                        <input type="number" class="form-control" id="modal-relationship-health-form" required>
                    </div>

                    <div class="mb-3">
                        <label for="modal-relationship-description" class="form-label">Description</label>
                        <textarea class="form-control" id="modal-relationship-description" rows="3"></textarea>
                    </div>

                    <input type="hidden" id="modal-self" />
                    <input type="hidden" id="modal-other" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" onclick="skipRelationship()">Skip</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" onclick="saveRelationship()">Save</button>
                <button type="button" class="btn btn-primary" onclick="saveRelationship(true)">Save & Next</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="member-modal" tabindex="-1" aria-labelledby="member-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="member-modal-label">Quick View</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row gap-3 align-items-center justify-content-center p-4 mt-2 gap-3" style="background: linear-gradient(#222, #333); border-top: 1px #495057 solid;">
                    <img id="modal-poi-image" class="profile-image" alt="person of interest" src="/icons/Default%20User.svg" width="100px" />
                    <div class="d-flex flex-column align-items-start justify-content-start">
                        <p id="modal-poi-name" class="fs-4 mb-0 fw-bold">Person of Interest</p>
                        <p id="modal-poi-type" class="mb-0">Association</p>
                        <p id="modal-poi-score" class="mb-0">prev score</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center p-2 mt-1" style="background: #333; border-bottom: 1px #495057 solid;">
                    <p id="modal-poi-centrality" class="mb-0 fw-bold">prev score</p>
                </div>
            </div>
            <div class="modal-footer">
                <div id="modal-poi-action-button"></div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="graph-modal" tabindex="-1" aria-labelledby="graph-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="graph-modal-label">Graph Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Show Profile Images</h4>
                    <p>Shows profile images on top of each node representing a member if applicable.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="graph-checkbox-img">
                        <label class="form-check-label" for="graph-checkbox-img">
                            Show profile images
                        </label>
                    </div>
                </div>
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Show Groups</h4>
                    <p>Displays groups and places associated members within.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="graph-checkbox-groups" checked>
                        <label class="form-check-label" for="graph-checkbox-groups">
                            Show groups
                        </label>
                    </div>
                </div>
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Show Names</h4>
                    <p>Display member names as labels on each node.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="graph-checkbox-labels" checked>
                        <label class="form-check-label" for="graph-checkbox-labels">
                            Show names
                        </label>
                    </div>
                </div>
                <div class="bg-body-tertiary p-3">
                    <h4 class="fw-bold">Relationship Strength</h4>
                    <p>Displays edges that have an absolute value of above the given amount.</p>
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <p id="tolerance-indicator" style="width: 40px" class="text-center">0</p>
                        <div class="form-check p-0 flex-grow-1">
                            <label for="graph-range-show" class="form-label">Tolerance level</label>
                            <input type="range" class="form-range" min="0" max="100" id="graph-range-show" onchange="updateToleranceIndicator()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="renderGraph()" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/Gradient :: gradient}"></div>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/External :: tooltips}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/Toast :: toast}"></div>
<div th:replace="~{components/Formatting :: timestamp-formatting}"></div>
<script src="/external/cytoscape.min.js"></script>


<script>
    let allMembers, memberRelationships, enums;
    let cy = cytoscape({

        container: document.getElementById('graph-container'),

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'background-color': 'data(color)',
                    'label': 'data(name)',
                    'color': 'white',
                    'text-wrap': 'ellipsis',
                    'background-opacity': 'data(opacity)',
                    'shape': 'data(shape)',
                    'background-image': 'data(img)',
                    'background-image-opacity': 'data(imgOpacity)',
                    'background-fit': 'contain'
                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 3,
                    'line-color': 'data(color)',
                    'target-arrow-color': 'data(color)',
                    'target-arrow-shape': 'chevron',
                    'curve-style': 'bezier',
                    'opacity': 'data(opacity)'
                }
            }
        ],
    });

    document.querySelector("#graph-range-show").value = 0;
    refresh();

    function refresh() {
        let spinner = document.querySelector("#loading-spinner");
        let errorIcon = document.querySelector("#error-icon");
        spinner.classList.add("d-block");
        spinner.classList.remove("d-none");

        let memberListFetch = fetch("/api/interpersonal/member/all", {});
        let groupListFetch = fetch("/api/interpersonal/enums", {});

        // Get group selected
        let selectedGroup = document.querySelector("#select-group").value;
        if(selectedGroup.length > 0){
            memberListFetch = fetch("/api/interpersonal/member/group/" + selectedGroup, {});
        }

        const relFetch = fetch("/api/interpersonal/relationship/all", {});
        Promise.all([memberListFetch, relFetch, groupListFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json(), data[2].json()]);
            })
            .then(data => {
                let members = data[0];
                allMembers = members.sort((a, b) => (a.firstName + a.lastName).localeCompare(b.firstName + b.lastName));
                let relationships = data[1];
                memberRelationships = relationships.sort((a, b) => a.id.localeCompare(b.id));
                enums = data[2];
                renderTable();
                renderGraph();
            })
            .catch((response) => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            })
            .finally(() => {
                spinner.classList.remove("d-block");
                spinner.classList.add("d-none");
            });
    }

    function skipRelationship(){
        let otherIndex = allMembers.findIndex((m) => m.id === document.querySelector("#modal-other").value)
        let nextIndex = (otherIndex+1) % allMembers.length;
        if(allMembers[nextIndex].id === document.querySelector("#modal-self").value){
            nextIndex = (otherIndex+2) % allMembers.length;
        }
        renderModal(document.querySelector("#modal-self").value, allMembers[nextIndex].id);
    }

    function saveRelationship(next=false){
        let data = {
            self: document.querySelector("#modal-self").value,
            other: document.querySelector("#modal-other").value,
            health: document.querySelector("#modal-relationship-health-form").value,
            type: document.querySelector("#modal-relationship-type-form").value,
            description: document.querySelector("#modal-relationship-description").value
        }

        let errorIcon = document.querySelector("#error-icon");
        let toastId = createToast("Updating Relationship");
        postData("/api/interpersonal/relationship/save", data)
            .then((message) => {
                console.log(message);
                document.getElementById(`${toastId}-title`).innerText = message.title;
                document.getElementById(`${toastId}-body`).innerText = getIcon(message.severity) + message.message;
                document.getElementById(`${toastId}-loading`).style.color = "green";

                if(next){
                    let otherIndex = allMembers.findIndex((m) => m.id === data.other)
                    let nextIndex = (otherIndex+1) % allMembers.length;
                    if(allMembers[nextIndex].id === data.self){
                        nextIndex = (otherIndex+2) % allMembers.length;
                    }
                    renderModal(data.self, allMembers[nextIndex].id);
                }
            })
            .catch((response) => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                response.json()
                    .then(errorData => {
                        document.getElementById(`${toastId}-body`).innerText = getIcon(errorData.severity) + errorData.message;
                        document.getElementById(`${toastId}-title`).innerText = errorData.title;
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                        document.getElementById(`${toastId}-body`).innerText = "Unable to edit relationship";
                        document.getElementById(`${toastId}-title`).innerText = "Error";
                        document.getElementById(`${toastId}-loading`).style.color = "red";
                    });
            })
            .finally(() => {
                refresh();
            });
    }

    function renderTable() {
        let headContent = `<th scope="col"></th>`;
        allMembers.forEach((member) => {
            headContent += `
                <th class="px-0">
                    <p class="fs-6 mb-0 text-center text-truncate">${member.firstName.charAt(0)}${member.lastName.charAt(0)}</p>
                </th>`
            //headContent += `<th scope="col"><img class="profile-image" alt="${member.firstName}" src="/api/interpersonal/member/profile-image/${member.id}" width="50px" /></th>`
        });
        document.querySelector("#table-head").innerHTML = headContent;

        let bodyContent = "";
        allMembers.forEach((self) => {
            bodyContent += `<tr><td><p class="p-0 m-0 text-end fw-bold">${self.firstName + " " + self.lastName}</p></td>`;

            allMembers.forEach((other) => {
                let relationship = memberRelationships.find((rel) => rel.id === self.id + other.id);
                let cellContent = `<div class="d-flex flex-row justify-content-center align-items-center"><button type="button" class="btn btn-secondary only-hover btn-sm mx-auto" data-bs-toggle="modal" data-bs-target="#relationship-modal" onclick="renderModal('${self.id}', '${other.id}')">Edit</button></div>`;

                bodyContent += `<td class="p-0" style="background-color: ${relationship? getColorGradient(relationship.health, -100, 100) : ((self.id !== other.id)? '#333' : '#000')}">${(self.id !== other.id)? cellContent : "<p class='text-center p-0'>-</p>"}</td>`
            });

            bodyContent += `</tr>`;
        });

        document.querySelector("#table-body").innerHTML = bodyContent;
    }

    function renderModal(selfId, otherId){
        let self = allMembers.find((member) => member.id === selfId);
        let other = allMembers.find((member) => member.id === otherId);
        let relationship = memberRelationships.find((rel) => rel.id===`${self.id}${other.id}`);

        document.querySelector("#modal-person-1-name").textContent = self.firstName + " " + self.lastName;
        document.querySelector("#modal-person-2-name").textContent = other.firstName + " " + other.lastName;

        if(relationship){
            document.querySelector("#modal-relationship-health").textContent = `Relationship Health: ${relationship.health}`;
            document.querySelector("#modal-relationship-type").textContent = `Relationship Type: ${relationship.type}`;

            document.querySelector("#modal-relationship-health-form").value = relationship.health;
            document.querySelector("#modal-relationship-type-form").value = relationship.type;

            document.querySelector("#modal-relationship-description").value = relationship.description;
        }else{
            document.querySelector("#modal-relationship-health").textContent = "No relationship recorded";
            document.querySelector("#modal-relationship-type").textContent = "";

            document.querySelector("#modal-relationship-health-form").value = 0;
            //document.querySelector("#modal-relationship-type-form").value = "";

            document.querySelector("#modal-relationship-description").value = "";
        }

        document.querySelector("#modal-person-1-img").src = `/api/interpersonal/member/profile-image/${self.id}`;
        document.querySelector("#modal-person-2-img").src = `/api/interpersonal/member/profile-image/${other.id}`;

        document.querySelector("#modal-self").value = self.id;
        document.querySelector("#modal-other").value = other.id;
    }

    function renderMemberModal(id){
        let poi = allMembers.find((m) => m.id === id);
        if(poi){
            let lastEval = poi.lastEvaluation? poi.lastEvaluation : poi.mostRecentEval;

            document.querySelector("#modal-poi-image").src = `/api/interpersonal/member/profile-image/${id}`;
            document.querySelector("#modal-poi-name").textContent = poi.firstName + " " + poi.lastName;
            document.querySelector("#modal-poi-type").textContent = poi.relationship;

            if(lastEval !== undefined){
                document.querySelector("#modal-poi-score").textContent = lastEval.cscore + " | " + formatTimestamp(lastEval.timestamp);
            }else{
                document.querySelector("#modal-poi-score").textContent = "No score recorded";
            }

            document.querySelector("#modal-poi-centrality").textContent = "Centrality: " + cy.$().dc({root: '#' + id}).degree;
            document.querySelector("#modal-poi-action-button").innerHTML = `<a href="/interpersonal/member/view/${id}"><button type="button" class="btn btn-info" data-bs-dismiss="modal">View Member</button></a>`;
        }else{
            let group = enums.groups.find((g) => g.id === id);
            if(group !== undefined){
                document.querySelector("#modal-poi-image").src = `/api/interpersonal/group/image/${id}?=${new Date().getTime()}`;
                document.querySelector("#modal-poi-name").textContent = group.name;
                document.querySelector("#modal-poi-type").textContent = group.description;
                document.querySelector("#modal-poi-action-button").innerHTML = `<a href="/interpersonal/groups"><button type="button" class="btn btn-info" data-bs-dismiss="modal">View Groups</button></a>`;
                document.querySelector("#modal-poi-score").textContent = "";
                document.querySelector("#modal-poi-centrality").textContent = "Member Count: " + group.numMembers;
            }
        }
    }

    function toggleFullscreen(){
        document.querySelector("#nav-menu").classList.toggle("d-none");
        document.querySelector("#nav-description").classList.toggle("d-none");
    }

    function renderGraph(){
        cy.nodes().remove();

        let toAdd = [];
        allMembers.forEach((member) => {
            let lastEval = member.lastEvaluation? member.lastEvaluation : member.mostRecentEval; //todo: [polish] unify the last eval and most recent eval
            toAdd.push({
                    group: 'nodes',
                    data: {id: member.id,
                    name: document.querySelector("#graph-checkbox-labels").checked? member.firstName + " " + member.lastName : "",
                    parent: (member.group? member.group.id : ""),
                    img: `/api/interpersonal/member/profile-image/${member.id}`,
                    imgOpacity: document.querySelector("#graph-checkbox-img").checked? "1" : "0",
                    opacity: 1,
                    shape: shapeMap(member.sex),
                    color: getColorGradient((lastEval === undefined ||  lastEval.cscore === null? "#333" : lastEval.cscore), -100, 100)}})
        });

        // Add in Groups
        if(document.querySelector("#graph-checkbox-groups").checked){
            if(document.querySelector("#select-group").value === ""){
                enums.groups.forEach((group) => {
                    toAdd.push({group: 'nodes', data: {
                        id: group.id,
                        name: document.querySelector("#graph-checkbox-labels").checked? group.name : "",
                        color: 'rgba(' + group.color.red + ', ' + group.color.green + ', ' + group.color.blue + ', .2)',
                        opacity: .2,
                        shape: 'rectangle'}});
                });
            }else{
                let selectedGroup = enums.groups.find((g) => g.id === document.querySelector("#select-group").value);
                toAdd.push({group: 'nodes', data: {
                    id: selectedGroup.id,
                        name: document.querySelector("#graph-checkbox-labels").checked? selectedGroup.name : "",
                        color: 'rgba(' + selectedGroup.color.red + ', ' + selectedGroup.color.green + ', ' + selectedGroup.color.blue + ', .2)',
                        opacity: .2,
                        shape: 'rectangle'}});
            }
        }

        // Add in relationships
        if(document.querySelector("#select-group").value === ""){
            memberRelationships.filter((r) => Math.abs(r.health) >= document.querySelector("#graph-range-show").value).forEach((relationship) => {
                toAdd.push({ group: 'edges', data: { id: relationship.id, source: relationship.self.id, target: relationship.other.id, color: getColorGradient(relationship.health, -100, 100), opacity: Math.min(Math.max((Math.abs(relationship.health) / 100), .05), .9)} });
            });
        }else{
            memberRelationships.filter((r) => Math.abs(r.health) > document.querySelector("#graph-range-show").value).forEach((relationship) => {
                let person1 = allMembers.find((x) => x.id === relationship.self.id);
                let person2 = allMembers.find((x) => x.id === relationship.other.id);
                if(person1 && person2){
                    console.log(Math.abs(relationship.health) + ">? " + document.querySelector("#graph-range-show").value)
                    toAdd.push({ group: 'edges', data: { id: relationship.id, source: relationship.self.id, target: relationship.other.id, color: getColorGradient(relationship.health, -100, 100), opacity: Math.min(Math.max((Math.abs(relationship.health) / 100), .05), .9)} });
                }
            });
        }

        cy.add(toAdd);

        // Layout
        cy.nodes(':parent').forEach((parent) => {
            let child_layout = parent.descendants().layout({
                name: 'circle',
                radius: parent.descendants().length * 25,
            });
            child_layout.run();
        });

        // might seem to also call on parent nodes
        let orphan_layout = cy.elements().orphans().layout({
            name: 'cose',
            fit: true,
            animation: false
        });

        orphan_layout.run();

        // Does not work yet...
        // let parent_layout = cy.elements().nodes().parents().layout({
        //     name: 'random',
        // });
        //
        // parent_layout.run();
    }

    // Graph callbacks
    cy.on('dbltap', 'node', (event) => {
        renderMemberModal(event.target._private.data.id);
        let myModal = new bootstrap.Modal(document.getElementById('member-modal'));
        myModal.show();
    });

    cy.on('dbltap', 'edge', (event) => {
        renderModal(event.target._private.data.source, event.target._private.data.target);
        let myModal = new bootstrap.Modal(document.getElementById('relationship-modal'));
        myModal.show();
    });

    function updateToleranceIndicator(){
        document.querySelector('#tolerance-indicator').textContent = document.querySelector('#graph-range-show').value;
    }

    function shapeMap(sex){
        if(sex === "MALE"){
            return "rectangle";
        }else if(sex === "FEMALE"){
            return "ellipse";
        }else{
            return "triangle";
        }
    }
</script>
<style>
    .only-hover{
        opacity: 0;
        transition: opacity;
        transition-duration: 400ms;
    }

    .only-hover:hover{
        opacity: 100%;
    }

    .profile-image{
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
</style>
</body>
</html>