<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Analysis')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: vertical}"></div>
<main class="bg-2" style="margin-left: 60px; height: 100vh;">
    <nav class="container-fluid pt-2 position-sticky top-0 border-bottom" style="background: linear-gradient(#222, #2c2c2c);">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="col-md-10 d-flex flex-row align-items-center justify-content-start">
                <img class="square-image me-2" style="height: 40px; width: 40px" alt="Analysis image" th:src="@{/icons/Reports.svg}">
                <h1 class="fw-bold">Polariscope Analysis</h1>
            </div>
            <div class="spinner-border d-none" role="status" id="loading-spinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <img src="/icons/Error.svg" id="error-icon" alt="error" class="square-image d-none" height="32px" width="32px" />
        </div>
        <div class="mb-0 pb-0 d-flex justify-content-between align-items-end">
            <ul class="nav nav-underline" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-3 p-0" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-3 p-0" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="false">Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-3 p-0" id="custom-tab" data-bs-toggle="tab" data-bs-target="#custom-tab-pane" type="button" role="tab" aria-controls="custom-tab-pane" aria-selected="false">Custom</button>
                </li>
            </ul>
            <div class="d-flex flex-row align-content-center justify-content-end pb-2 gap-3">
                <div class="mb-2 bg-light-subtle d-flex justify-content-center align-items-center p-2" role="button" onclick="refresh()">
                    <img class="square-image" src="/icons/Plus.svg" alt="New Report" style="width: 20px;">
                </div>
                <div class="mb-2 bg-light-subtle d-flex justify-content-center align-items-center p-2" role="button" onclick="refresh()">
                    <img class="square-image" src="/icons/Refresh.svg" alt="New Report" style="width: 20px;">
                </div>
            </div>
        </div>
    </nav>
    <div class="tab-content container-fluid">
        <div class="tab-pane fade show active p-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
            <div class="pb-2 flex-grow-1 d-flex overflow-x-scroll flex-row gap-3 align-items-center justify-content-start" id="report-selectors"></div>

            <!-- Statistics Table -->
            <div id="overview-stats-table" class="table-responsive"></div>
        </div>
        <div class="tab-pane fade" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="custom-tab-pane" role="tabpanel" aria-labelledby="custom-tab" tabindex="0">...</div>
    </div>
</main>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Formatting :: date-formatting}"></div>
<div th:replace="~{components/Network :: network}"></div>
<div th:replace="~{components/Network :: data-upload}"></div>
<div th:replace="~{components/Toast :: toast}"></div>
<div th:replace="~{components/External :: tooltips}"></div>

<script>
    let quarterlyReports = [];

    refresh();

    function refresh(){
        let spinner = document.querySelector("#loading-spinner");
        let errorIcon = document.querySelector("#error-icon");
        spinner.classList.add("d-block");
        spinner.classList.remove("d-none");

        const quarterlyFetch = fetch("/api/interpersonal/reports/quarterly", {});

        Promise.all([quarterlyFetch])
            .then(responses => {
                return Promise.all(responses);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                console.log(data);

                if(data[0]){
                    quarterlyReports = data[0];
                }
                renderOverviewTab();
            })
            .catch((response) => {
                errorIcon.classList.add("d-block");
                errorIcon.classList.remove("d-none");
                response.json()
                    .then(errorData => {
                        console.log(errorData.message);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            })
            .finally(() => {
                spinner.classList.remove("d-block");
                spinner.classList.add("d-none");
            });


        function renderOverviewTab(){
            renderChips();
            renderOverviewTable();
        }

        // Helper functions

        function renderChips(){
            let buttonHTML = "";
            quarterlyReports.forEach((report, index) => {
                buttonHTML += `<button type="button" class="btn btn-secondary text-nowrap" id="report-button-${index}">${formatDate(report.startDate)} - ${formatDate(report.endDate)}</button>`;
            });
            document.querySelector("#report-selectors").innerHTML = buttonHTML;
        }

        function renderOverviewTable(){
            let tableContent = ``;

            // Top row
            let header = ""
            quarterlyReports.forEach((report, index) => {
                header += `
                    <th>${formatDate(report.startDate)}</th>
                `;
            });

            // New Activity Score
            let newActivityScoreRow = ""
            quarterlyReports.forEach((report, index) => {
                newActivityScoreRow += `
                    <td>${report.newActivityScore}</td>
                `;
            });

            // Total Activity Score
            let activityScoreRow = ""
            quarterlyReports.forEach((report, index) => {
                activityScoreRow += `
                    <td>${report.activityScore}</td>
                `;
            });

            // New Members
            let newMemberCountRow = ""
            quarterlyReports.forEach((report, index) => {
                newMemberCountRow += `
                    <td>${report.newMemberCount}</td>
                `;
            });

            // Member Total
            let memberCountRow = ""
            quarterlyReports.forEach((report, index) => {
                memberCountRow += `
                    <td>${report.memberCount}</td>
                `;
            });

            // Connection Average
            let connectionAverageRow = ""
            quarterlyReports.forEach((report, index) => {
                if(report.overallConnectionCount === 0){
                    connectionAverageRow += `
                        <td>N/A</td>
                    `;
                }else{
                    connectionAverageRow += `
                    <td>${report.overallConnectionAverage.toFixed(3)}</td>
                `;
                }
            });

            // Connection Standard Deviation
            let connectionSDRow = ""
            quarterlyReports.forEach((report, index) => {
                if(report.overallConnectionSD === "NaN"){
                    connectionSDRow += `
                        <td>N/A</td>
                    `;
                }else{
                    connectionSDRow += `
                        <td>${report.overallConnectionSD.toFixed(3)}</td>
                    `;
                }
            });

            // Connection Total
            let connectionTotalRow = ""
            quarterlyReports.forEach((report, index) => {
                connectionTotalRow += `
                    <td>${report.overallConnectionCount}</td>
                `;
            });

            // Score Standard Deviation
            let scoreSDRow = ""
            quarterlyReports.forEach((report, index) => {
                scoreSDRow += `
                    <td>${report.overallScoreSD.toFixed(3)}</td>
                `;
            });

            // Score Average
            let scoreAverageRow = ""
            quarterlyReports.forEach((report, index) => {
                scoreAverageRow += `
                    <td>${report.overallScoreAverage.toFixed(3)}</td>
                `;
            });

            // Score Total
            let scoreTotalRow = ""
            quarterlyReports.forEach((report, index) => {
                scoreTotalRow += `
                    <td>${report.overallScoreTotal}</td>
                `;
            });

            // Human Metrics

            // Referring to Standard Deviation
            let mostVolatileRow = "";
            let leastVolatileRow = "";

            // Referring to evaluation slope
            let mostStableRow = "";
            let topGrossingRow = "";
            let bottomGrossingRow = "";

            for(let report of quarterlyReports){
                let mostVolatile = null;
                let leastVolatile = null;

                // Referring to evaluation slope
                let mostStable = null; // closest to 0
                let topGrossing = null; // most positive
                let bottomGrossing = null; // most negative

                for(let m of report.memberReports){
                    if(m.scoreSD !== "NaN"){
                        if(mostVolatile == null || m.scoreSD > mostVolatile.scoreSD){
                            mostVolatile = m
                        }

                        if(leastVolatile == null || m.scoreSD < leastVolatile.scoreSD){
                            leastVolatile = m
                        }
                    }

                    if(m.scoreSlope !== "NaN"){
                        if(topGrossing == null || m.scoreSlope > topGrossing.scoreSlope){
                            topGrossing = m
                        }

                        if(bottomGrossing == null || m.scoreSlope < bottomGrossing.scoreSlope){
                            bottomGrossing = m
                        }

                        if(mostStable == null || Math.abs(m.scoreSlope) < Math.abs(mostStable.scoreSlope)){
                            mostStable = m
                        }
                    }
                }

                mostVolatileRow += `
                    <td>
                        <a class="d-flex flex-column" href="/interpersonal/member/view/${mostVolatile.id}">
                            <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=/api/interpersonal/member/profile-image/${mostVolatile.id}>
                            <p class="p-0">${mostVolatile.firstName} ${mostVolatile.lastName}</p>
                        </a>
                    </td>
                `;

                leastVolatileRow += `
                    <td>
                        <a class="d-flex flex-column" href="/interpersonal/member/view/${leastVolatile.id}">
                            <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=/api/interpersonal/member/profile-image/${leastVolatile.id}>
                            <p class="p-0">${leastVolatile.firstName} ${leastVolatile.lastName}</p>
                        </a>
                    </td>
                `;

                topGrossingRow += `
                    <td>
                        <a class="d-flex flex-column" href="/interpersonal/member/view/${topGrossing.id}">
                            <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=/api/interpersonal/member/profile-image/${topGrossing.id}>
                            <p class="p-0">${topGrossing.firstName} ${topGrossing.lastName}</p>
                        </a>
                    </td>
                `;

                bottomGrossingRow += `
                    <td>
                        <a class="d-flex flex-column" href="/interpersonal/member/view/${bottomGrossing.id}">
                            <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=/api/interpersonal/member/profile-image/${bottomGrossing.id}>
                            <p class="p-0">${bottomGrossing.firstName} ${bottomGrossing.lastName}</p>
                        </a>
                    </td>
                `;

                mostStableRow += `
                    <td>
                        <a class="d-flex flex-column" href="/interpersonal/member/view/${mostStableRow.id}">
                            <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=/api/interpersonal/member/profile-image/${mostStable.id}>
                            <p class="p-0">${mostStableRow.firstName} ${mostStableRow.lastName}</p>
                        </a>
                    </td>
                `;

                console.log(mostVolatile);
                console.log(leastVolatile);
                console.log(topGrossing);
                console.log(bottomGrossing);
                console.log(mostStable);
                console.log("-----------------");
            }


            // // New Members
            // let newMembersRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     newMembersRow += `
            //         <td>${report.newMembers}</td>
            //     `;
            // });
            //
            // // Standard Deviation Row
            // let SDRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     SDRow += `
            //         <td>${report.overallSTD}</td>
            //     `;
            // });
            //
            // // Score Av Row
            // let scoreAverageRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     scoreAverageRow += `
            //         <td>${report.overallScoreAverage}</td>
            //     `;
            // });
            //
            // // Score Total Row
            // let scoreTotalRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     scoreTotalRow += `
            //         <td>${report.overallScoreCount}</td>
            //     `;
            // });
            //
            // // Total Members Row
            // let totalMembersRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     totalMembersRow += `
            //         <td>${report.totalMembers}</td>
            //     `;
            // });
            //
            // // Human metrics
            //
            // // Most Stable Member
            // let mostStableRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     let imageSrc = report.stable? `/api/interpersonal/member/profile-image/${report.stable}` : "/icons/Error.svg";
            //     mostStableRow += `
            //         <td>
            //             <a class="d-flex flex-column" href="/interpersonal/member/view/${report.stable}">
            //                 <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=${imageSrc}>
            //                 <p class="p-0">${report.stableSTD.toFixed(4)}</p>
            //             </a>
            //         </td>
            //     `;
            // });
            //
            // // Top-Grossing Member
            // let topGrossingRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     let imageSrc = report.topGrossing? `/api/interpersonal/member/profile-image/${report.topGrossing}` : "/icons/Error.svg";
            //     topGrossingRow += `
            //         <td>
            //             <a class="d-flex flex-column" href="/interpersonal/member/view/${report.topGrossing}">
            //                 <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=${imageSrc}>
            //                 <p class="p-0">${report.topScoreIncrease.toFixed(4)}</p>
            //             </a>
            //         </td>
            //     `;
            // });
            //
            // // Anti-Grossing Member
            // let antiGrossingRow = ""
            // quarterlyReports.forEach((report, index) => {
            //     let imageSrc = report.antiGrossing? `/api/interpersonal/member/profile-image/${report.antiGrossing}` : "/icons/Error.svg";
            //     antiGrossingRow += `
            //         <td>
            //             <a class="d-flex flex-column" href="/interpersonal/member/view/${report.antiGrossing}">
            //                 <img class="square-image" style="height: 40px; width: 40px" alt="profile image" src=${imageSrc}>
            //                 <p class="p-0">${report.antiScoreDecrease.toFixed(4)}</p>
            //             </a>
            //         </td>
            //     `;
            // });

            document.querySelector("#overview-stats-table").innerHTML = `
                <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        ${header}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Activity Score</th>
                        ${newActivityScoreRow}
                    </tr>
                    <tr>
                        <th>Activity Total</th>
                        ${activityScoreRow}
                    </tr>
                    <tr>
                        <th>Added Members</th>
                        ${newMemberCountRow}
                    </tr>
                    <tr>
                        <th>Member Total</th>
                        ${memberCountRow}
                    </tr>
                    <tr>
                        <th>Connection Average</th>
                        ${connectionAverageRow}
                    </tr>
                    <tr>
                        <th>Connection SD</th>
                        ${connectionSDRow}
                    </tr>
                    <tr>
                        <th>Added Connections</th>
                        ${connectionTotalRow}
                    </tr>
                    <tr>
                        <th>Evaluation Average</th>
                        ${scoreAverageRow}
                    </tr>
                    <tr>
                        <th>Evaluation SD</th>
                        ${scoreSDRow}
                    </tr>
                    <tr>
                        <th>Evaluation Total</th>
                        ${scoreTotalRow}
                    </tr>

                    <tr>
                        <th>Most Volatile</th>
                        ${mostVolatileRow}
                    </tr>
                    <tr>
                        <th>Least Volatile</th>
                        ${leastVolatileRow}
                    </tr>
                    <tr>
                        <th>Top Grossing</th>
                        ${topGrossingRow}
                    </tr>
                    <tr>
                        <th>Bottom Grossing</th>
                        ${bottomGrossingRow}
                    </tr>
                    <tr>
                        <th>Most Stable</th>
                        ${mostStableRow}
                    </tr>
                </tbody>
            </table>`;
        }
    }
</script>
</body>
</html>