<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{components/Header :: head('Home')}"></head>
<body class="bg-2 text-1" data-bs-theme="dark">
<div th:replace="~{components/Navigation :: navigation}"></div>
<main class="container px-4 py-5">
<div class="row">
    <div class="d-none d-lg-block col-3">
        <h2 class="fw-bold">Instructions</h2>
        <p>Enter the information regarding a person of interest in your life. This information will be used for identification and analytical purposes within Polariscope.</p>
    </div>
    <div class="col-12 col-md-9 px-3">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="fnf">First name</label>
                <input type="text" class="form-control" id="fnf" name="firstName" placeholder="First name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="lnf">Last name</label>
                <input type="text" class="form-control" id="lnf" name="lastName" placeholder="Last name">
            </div>
            <div class="col-md-4 mb-3">
                <label for="mnf">Middle name</label>
                <input type="text" class="form-control" id="mnf" name="middleName" placeholder="Middle name">
            </div>
            <div class="col-md-4 mb-3">
                <label for="relationf">Relationship Type</label>
                <select class="form-select" id="relationf" name="relationship" required>
                    <option value="" disabled="disabled">Select Relationship Type</option>
                    <th:block th:each="relationshipType : ${relationshipTypes}">
                        <option th:value="${relationshipType}" th:text="${relationshipType.toString().toLowerCase()}"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="sexf">Sex</label>
                <select class="form-select" id="sexf" name="relationship">
                    <option value="">Decline to state</option>
                    <th:block th:each="SexType : ${sexTypes}">
                        <option th:value="${SexType}" th:text="${SexType.toString().toLowerCase()}"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="sexualityf">Sexuality</label>
                <select class="form-select" id="sexualityf" name="sexuality">
                    <option value="">Decline to state</option>
                    <th:block th:each="sexualityType : ${sexualityTypes}">
                        <option th:value="${sexualityType}" th:text="${sexualityType.toString().toLowerCase()}"></option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="mbp">MB Personality</label>
                <input type="text" class="form-control" id="mbp" name="personality" placeholder="ENFJ">
            </div>
            <div class="col-md-4 mb-3">
                <label for="fcf">Favorite Color</label>
                <input type="text" class="form-control" id="fcf" name="favoriteColor" placeholder="Red">
            </div>
            <div class="col-md-4 mb-3">
                <label for="amf">Year Met</label>
                <input type="number" class="form-control" id="amf" name="ageMet" placeholder="2001" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="bdf">Birthday</label>
                <input type="date" class="form-control" id="bdf" name="birthday" required>
            </div>

            <div class="col-md-4 mb-3">
                <label for="psf">Places</label>
                <select class="form-select" id="psf">
                    <option value="">None</option>
                    <th:block th:each="place : ${places}">
                        <option th:value="${place}" th:text="${place.toString().toLowerCase()}"></option>
                    </th:block>
                </select>
            </div>

            <div class="col-12 mb-3">
                <label for="df">Description</label>
                <input type="text" class="form-control" id="df" name="description" placeholder="Description of member">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="submit()" id="submit-button">Submit</button>
    </div>
</div>
</main>
<div th:replace="~{components/External :: external}"></div>
<div th:replace="~{components/Network :: network}"></div>
<script>
    function submit(){
        let member = {
            "firstName": document.querySelector("#fnf").value,
            "lastName": document.querySelector("#lnf").value,
            "middleName": document.querySelector("#mnf").value,
            "relationship": document.querySelector("#relationf").value,
            "sex": document.querySelector("#sexf").value,
            "sexuality": document.querySelector("#sexualityf").value,
            "personality": document.querySelector("#mbp").value,
            "favoriteColor": document.querySelector("#fcf").value,
            "ageMet": document.querySelector("#amf").value,
            "birthday": document.querySelector("#bdf").value
        }
        let button = document.querySelector("#submit-button");
        button.disabled = true;
        button.classList.remove("btn-primary");
        button.classList.add("btn-disabled");
        button.textContent = "Saving...";

        postData("/api/interpersonal/member/new", member)
            .then(() => {
                button.disabled = false;
                button.classList.remove("btn-disabled");
                button.classList.add("btn-primary");
                button.textContent = "Submit";
            })
    }

</script>
</body>
</html>